<template>
    <v-container fluid class="py-4">
        <v-layout wrap>
            <v-col cols="12" md="12">
                <SubNavigationComp :items="navHelperItems" />
            </v-col>

            <v-col cols="12" offset-md="3" md="6">
                <v-flex class="text-center">
                    <h1>
                        {{ $t('account') }}
                    </h1>
                </v-flex>
            </v-col>
            <v-col v-if="authenticated" cols="12" offset-md="3" md="6" class="my-5">
                <v-row no-gutters>
                    <v-col cols="4">
                        <p class="font-weight-regular">
                            {{ $t('username') }}
                        </p>
                    </v-col>
                    <v-col cols="8">
                        <p id="username" class="font-weight-bold">
                            {{ user.username }}
                        </p>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col cols="4">
                        <p class="font-weight-regular">
                            {{ $t('email') }}
                        </p>
                    </v-col>
                    <v-col cols="8">
                        <p id="userEmail" class="font-weight-bold">
                            {{ user.email }}
                        </p>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col cols="4">
                        <p class="font-weight-regular">
                            {{ $t('password') }}
                        </p>
                    </v-col>
                    <v-col cols="8">
                        <p id="passEditedAt" class="font-weight-bold">
                            {{ $t('lastChanged') + ':' }}
                            <time-ago locale="en" :datetime="user.passEditedAt"></time-ago>
                        </p>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col cols="4">
                        <p class="font-weight-regular">
                            {{ $t('language') }}
                        </p>
                    </v-col>
                    <v-col cols="8">
                        <p id="userLanguage" class="font-weight-bold">
                            {{ $t(user.language) }}
                        </p>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col cols="4">
                        <p class="font-weight-regular">
                            {{ $t('access') }}
                        </p>
                    </v-col>
                    <v-col cols="8">
                        <p id="userConfirmed" class="font-weight-bold">
                            {{ user.confirmed ? $t('allowed') : $t('denied') }}
                        </p>
                    </v-col>
                </v-row>
            </v-col>

            <v-flex offset-md3 md6 xs12 >
                <v-divider></v-divider>
            </v-flex>

            <v-col cols="12" offset-md="3" md="6" class="my-5 d-flex justify-space-around">
                <v-btn
                    class="mx-2"
                    dark
                    color="primary"
                    elevation="3"
                    small
                    :to="newPassBtn.path"
                >
                    {{ $t(newPassBtn.title) }}
                    <v-icon dark>
                        {{ newPassBtn.icon }}
                    </v-icon>
                </v-btn>

                <v-btn
                    class="mx-2"
                    dark
                    color="primary"
                    elevation="3"
                    small
                    :to="newLanguageBtn.path"
                >
                    {{ $t(newLanguageBtn.title) }}
                    <v-icon dark>
                        {{ newLanguageBtn.icon }}
                    </v-icon>
                </v-btn>
            </v-col>
        </v-layout>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import { TimeAgo } from 'vue2-timeago';
    import SubNavigationComp from '../components/SubNavigationComp';

    export default {
        components: {
            TimeAgo,
            SubNavigationComp,
        },

        data: () => ({
            newPassBtn: { title: 'changePassword', path: '/newPass', icon: '' },
            newLanguageBtn: { title: 'changeLanguage', path: '/changeLanguage', icon: '' },
            navHelperItems: [
                {
                    text: 'navigation.home',
                    disabled: false,
                    href: '/',
                },
                {
                    text: 'account',
                    disabled: true,
                    href: '/account',
                },
            ],
        }),

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                user: 'auth/user',
            }),
        },

        methods: {
            ...mapActions({
                setMessageAction: 'message/setMessage',
            }),
        },

        created: function() {
            if (!this.authenticated) {
                this.setMessageAction(
                    { message: this.$t('error.userNotFound'), isVisible: true, type: 'error' }
                );
                this.$router.push({ name: 'HomePage' });
            }
        },
    }
</script>

<style scoped>

</style>
