<template>
    <v-container fluid class="py-4">
        <v-layout wrap>
            <v-col cols="12" md="12">
                <SubNavigationComp :items="navHelperItems" />
            </v-col>

            <v-flex xs12 sm6 offset-sm3 class="text-center" mt-5>
                <Alert v-if="errors.visible" :error="errors.message" />

                <h1>{{ $t('newOffer') }}</h1>
            </v-flex>
            <v-flex xs12 sm6 offset-sm3 mt-3>
                <form @submit.prevent="addOffer">
                    <v-layout column>
                        <v-flex>
                            <v-text-field
                                name="title"
                                v-model="form.title"
                                id="title"
                                :label="$t('title')"
                                type="text"
                                :error-messages="titleErrors"
                                :counter="256"
                                required
                                @input="$v.form.title.$touch()"
                                @blur="$v.form.title.$touch()"
                            ></v-text-field>
                        </v-flex>

                        <v-flex>
                            <v-textarea
                                solo
                                name="description"
                                v-model="form.description"
                                id="description"
                                :label="$t('description')"
                                :error-messages="descriptionErrors"
                                @input="$v.form.description.$touch()"
                                @blur="$v.form.description.$touch()"
                            ></v-textarea>
                        </v-flex>

                        <v-flex>
                            <v-checkbox
                                name="isActive"
                                v-model="form.isActive"
                                id="isActive"
                                color="primary"
                                :error-messages="isActiveErrors"
                                @input="$v.form.isActive.$touch()"
                                @blur="$v.form.isActive.$touch()"
                            >
                                <template v-slot:label>
                                    {{ $t('isActive') }}
                                </template>
                            </v-checkbox>
                        </v-flex>

                        <v-divider></v-divider>

                        <v-layout
                            v-for="(image, i) in $v.form.newImages.$each.$iter"
                            :key="i"
                        >
                            <v-col cols="6">
                                <v-file-input
                                    v-model="image.data.$model"
                                    :label="$t('image')"
                                    accept="image/png, image/jpeg, image/jpg, image/bmp"
                                    :placeholder="$t('chooseImage')"
                                    prepend-icon="mdi-camera"
                                    @change="createImage(i)"
                                    @click:clear="deleteImage(i)"
                                    :error-messages="validateImage(image.data, i)"
                                    clearable
                                ></v-file-input>
                            </v-col>

                            <v-col cols="6">
                                <v-img
                                    max-height="300"
                                    :src="form.newImages[i].preview"
                                ></v-img>
                            </v-col>
                        </v-layout>

                        <v-flex my-5>
                            <v-btn
                                dark
                                small
                                color="success"
                                v-on:click="addImage"
                            >
                                <v-icon dark>
                                    {{ newImageBtn.icon }}
                                </v-icon>
                                {{ $t(newImageBtn.title) }}
                            </v-btn>
                        </v-flex>

                        <v-divider></v-divider>

                        <v-flex mt-5>
                            <v-btn
                                color="primary"
                                type="submit"
                                :loading="loading"
                                :disabled="loading"
                                small
                            >
                                {{ $t('add') }}
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import { mapActions } from 'vuex';
    import { validationMixin } from 'vuelidate';
    import { required, maxLength, minLength } from 'vuelidate/lib/validators';
    import Alert from '../components/popups/AlertPopup';
    import SubNavigationComp from '../components/SubNavigationComp';
    import messageMixin from '../mixins/messageMixin';
    import imageMixin from '../mixins/imageMixin';
    import arrayMixin from '../mixins/arrayMixin';

    export default {
        mixins: [ validationMixin, messageMixin, imageMixin, arrayMixin ],

        validations: {
            form: {
                title: { required, minLength: minLength(3), maxLength: maxLength(256) },
                description: { maxLength: maxLength(4096) },
                isActive: { },
                newImages: {
                    $each: {
                        data: {
                            isFileSize(value) {
                                if (!value || value === '' || value === undefined) return true;
                                return (value.size < 5000000);
                            }
                        }
                    }
                },
            },
        },

        components: {
            Alert,
            SubNavigationComp,
        },

        data: () => ({
            form: {
                title: '',
                description: '',
                isActive: true,
                newImages: [],
                recaptcha: '',
            },
            errors: {
                title: null,
                description: null,
                isActive: null,
                newImages: null,
                message: null,
                visible: false,
            },
            loading: false,
            newImageBtn: { title: 'newImage', icon: 'mdi-plus' },
            navHelperItems: [
                {
                    text: 'navigation.home',
                    disabled: false,
                    href: '/',
                },
                {
                    text: 'newOffer',
                    disabled: true,
                    href: '/newOffer',
                },
            ],
        }),

        computed: {
            titleErrors () {
                const errors = [];
                if (this.errors.title) {
                    errors.push(this.$t(this.errors.title[0]));
                    this.clearArray(this.errors.title);
                }
                if (!this.$v.form.title.$dirty) return errors;
                !this.$v.form.title.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.title.maxLength && errors.push(
                    this.$t('validation.mustBeCharsOrFewer', { num: '256' })
                );
                !this.$v.form.title.minLength && errors.push(
                    this.$t('validation.mustBeAtLeastCharsLong', { num: '3' })
                );
                return errors;
            },
            descriptionErrors () {
                const errors = [];
                if (this.errors.description) {
                    errors.push(this.$t(this.errors.description[0]));
                    this.clearArray(this.errors.description);
                }
                if (!this.$v.form.description.$dirty) return errors;
                !this.$v.form.description.maxLength && errors.push(
                    this.$t('validation.mustBeCharsOrFewer', { num: '4096' })
                );
                return errors;
            },
            isActiveErrors () {
                const errors = [];
                if (this.errors.isActive) {
                    errors.push(this.$t(this.errors.isActive[0]));
                    this.clearArray(this.errors.isActive);
                }
                if (!this.$v.form.isActive.$dirty) return errors;
                return errors;
            },
        },

        methods: {
            ...mapActions({
                getOfferListAction: 'offers/getOffers',
                setMessageAction: 'message/setMessage',
            }),
            addOffer() {
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.errors.message = this.$t('error.errorInData');
                    this.errors.visible = true;
                    this.resetMessageTimeout(10000);
                    this.setMessageAction(
                        { message: this.$t('error.error'), isVisible: true, type: 'error' }
                    );
                } else {
                    this.loading = true;
                    this.removeEmptyImages();
                    this.$recaptcha('addOffer').then(token => {
                        this.form.recaptcha = token;
                        this.$http.post('/createOffer', this.form).then(response => {
                            this.loading  = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setMessageAction(
                                    { message: this.$t(response.data.message), isVisible: true, type: 'success' }
                                );
                                this.getOfferListAction();
                                this.$router.push({ name: 'HomePage' });
                            } else {
                                this.errors.message = response.data.message;
                                this.errors.visible = true;
                                this.setMessageAction(
                                    { message: this.$t(this.errors.message), isVisible: true, type: 'error' }
                                );

                                if (response.data.errors) {
                                    if (response.data.errors.title) {
                                        this.errors.title = response.data.errors.title;
                                    }
                                    if (response.data.errors.description) {
                                        this.errors.description = response.data.errors.description;
                                    }
                                    if (response.data.errors.isActive) {
                                        this.errors.isActive = response.data.errors.isActive;
                                    }
                                    if (response.data.errors.newImages && response.data.errors.newImages.length > 0) {
                                        this.errors.newImages = response.data.errors.newImages;
                                    }
                                }
                            }
                            this.resetMessageTimeout(10000);
                        }).catch(() => {
                            this.form.recaptcha = '';
                            this.setMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch(() => {
                        this.form.recaptcha = '';
                        this.setMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
        },
    }
</script>

<style scoped>

</style>
