<template>
    <v-container fluid class="py-4">
        <v-layout wrap>
            <v-col cols="12" md="12">
                <SubNavigationComp :items="navHelperItems" />
            </v-col>

            <v-flex xs12 sm6 offset-sm3 class="text-center" mt-5>
                <Alert v-if="errors.visible" :error="errors.message" />

                <h1>{{ $t('newService') }}</h1>
            </v-flex>
            <v-flex xs12 sm6 offset-sm3 mt-3>
                <form @submit.prevent="addService">
                    <v-layout column>
                        <v-flex>
                            <v-autocomplete
                                name="serviceType"
                                v-model="form.serviceType"
                                id="serviceType"
                                :label="$t('type')"
                                :items="getSelectionItems(serviceTypesEnum)"
                                item-text="text"
                                item-value="value"
                                :placeholder="$t('chooseType')"
                                :error-messages="serviceTypeErrors"
                                required
                                @input="$v.form.serviceType.$touch()"
                                @blur="$v.form.serviceType.$touch()"
                            ></v-autocomplete>
                        </v-flex>

                        <v-flex>
                            <v-text-field
                                name="title"
                                v-model="form.title"
                                id="title"
                                :label="$t('title')"
                                type="text"
                                :error-messages="titleErrors"
                                :counter="256"
                                required
                                @input="$v.form.title.$touch()"
                                @blur="$v.form.title.$touch()"
                            ></v-text-field>
                        </v-flex>

                        <v-flex>
                            <v-text-field
                                name="note"
                                v-model="form.note"
                                id="note"
                                :label="$t('note')"
                                type="text"
                                :error-messages="noteErrors"
                                :counter="256"
                                @input="$v.form.note.$touch()"
                                @blur="$v.form.note.$touch()"
                            ></v-text-field>
                        </v-flex>

                        <v-flex>
                            <v-text-field
                                name="price"
                                v-model="form.price"
                                id="price"
                                :label="$t('price')"
                                prefix="€"
                                :error-messages="priceErrors"
                                @input="$v.form.price.$touch()"
                                @blur="$v.form.price.$touch()"
                            ></v-text-field>
                        </v-flex>

                        <v-flex>
                            <v-checkbox
                                name="isActive"
                                v-model="form.isActive"
                                id="isActive"
                                color="primary"
                                :error-messages="isActiveErrors"
                                @input="$v.form.isActive.$touch()"
                                @blur="$v.form.isActive.$touch()"
                            >
                                <template v-slot:label>
                                    {{ $t('isActive') }}
                                </template>
                            </v-checkbox>
                        </v-flex>

                        <v-flex mt-5>
                            <v-btn
                                color="primary"
                                type="submit"
                                :loading="loading"
                                :disabled="loading"
                                small
                            >
                                {{ $t('add') }}
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import { validationMixin } from 'vuelidate';
    import { required, maxLength, minLength, decimal, minValue, maxValue } from 'vuelidate/lib/validators';
    import Alert from '../components/popups/AlertPopup';
    import SubNavigationComp from '../components/SubNavigationComp';
    import messageMixin from '../mixins/messageMixin';
    import localizationMixin from '../mixins/localizationMixin';
    import arrayMixin from '../mixins/arrayMixin';

    export default {
        mixins: [ validationMixin, messageMixin, localizationMixin, arrayMixin ],

        validations: {
            form: {
                serviceType: { required },
                title: { required, minLength: minLength(3), maxLength: maxLength(256) },
                note: { minLength: minLength(3), maxLength: maxLength(256) },
                price: { decimal, minValue: minValue(0.00), maxValue: maxValue(2000000000.00) },
                isActive: { },
            },
        },

        components: {
            Alert,
            SubNavigationComp,
        },

        data: () => ({
            form: {
                serviceType: '',
                title: '',
                note: '',
                price: null,
                isActive: true,
                recaptcha: '',
            },
            errors: {
                serviceType: null,
                title: null,
                note: null,
                price: null,
                isActive: null,
                message: null,
                visible: false,
            },
            loading: false,
            navHelperItems: [
                {
                    text: 'navigation.home',
                    disabled: false,
                    href: '/',
                },
                {
                    text: 'newService',
                    disabled: true,
                    href: '/newService',
                },
            ],
        }),

        computed: {
            serviceTypeErrors() {
                const errors = [];
                if (this.errors.serviceType) {
                    errors.push(this.$t(this.errors.serviceType[0]));
                    this.clearArray(this.errors.serviceType);
                }
                if (!this.$v.form.serviceType.$dirty) return errors;
                !this.$v.form.serviceType.required && errors.push(this.$t('validation.requiredField'));
                return errors;
            },
            titleErrors() {
                const errors = [];
                if (this.errors.title) {
                    errors.push(this.$t(this.errors.title[0]));
                    this.clearArray(this.errors.title);
                }
                if (!this.$v.form.title.$dirty) return errors;
                !this.$v.form.title.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.title.maxLength && errors.push(
                    this.$t('validation.mustBeCharsOrFewer', { num: '256' })
                );
                !this.$v.form.title.minLength && errors.push(
                    this.$t('validation.mustBeAtLeastCharsLong', { num: '3' })
                );
                return errors;
            },
            noteErrors() {
                const errors = [];
                if (this.errors.note) {
                    errors.push(this.$t(this.errors.note[0]));
                    this.clearArray(this.errors.note);
                }
                if (!this.$v.form.note.$dirty) return errors;
                !this.$v.form.note.maxLength && errors.push(
                    this.$t('validation.mustBeCharsOrFewer', { num: '256' })
                );
                !this.$v.form.note.minLength && errors.push(
                    this.$t('validation.mustBeAtLeastCharsLong', { num: '3' })
                );
                return errors;
            },
            priceErrors() {
                const errors = [];
                if (this.errors.price) {
                    errors.push(this.$t(this.errors.price[0]));
                    this.clearArray(this.errors.price);
                }
                if (!this.$v.form.price.$dirty) return errors;
                !this.$v.form.price.decimal && errors.push(this.$t('validation.mayContainOnlyNaturalNumbers'));
                !this.$v.form.price.minValue && errors.push(this.$t('validation.mustBeAPositiveValue'));
                !this.$v.form.price.maxValue && errors.push(this.$t('validation.numberTooLarge'));
                return errors;
            },
            isActiveErrors() {
                const errors = [];
                if (this.errors.isActive) {
                    errors.push(this.$t(this.errors.isActive[0]));
                    this.clearArray(this.errors.isActive);
                }
                if (!this.$v.form.isActive.$dirty) return errors;
                return errors;
            },
            ...mapGetters({
                serviceTypesEnum: 'enums/serviceTypes',
            }),
        },

        methods: {
            ...mapActions({
                getServiceListAction: 'services/getServices',
                setMessageAction: 'message/setMessage',
            }),
            addService() {
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.errors.message = this.$t('error.errorInData');
                    this.errors.visible = true;
                    this.resetMessageTimeout(10000);
                    this.setMessageAction(
                        { message: this.$t('error.error'), isVisible: true, type: 'error' }
                    );
                } else {
                    this.loading = true;
                    this.$recaptcha('addService').then(token => {
                        this.form.recaptcha = token;
                        this.$http.post('/createService', this.form).then(response => {
                            this.loading  = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setMessageAction(
                                    { message: this.$t(response.data.message), isVisible: true, type: 'success' }
                                );
                                this.getServiceListAction();
                                this.$router.push({ name: 'HomePage' });
                            } else {
                                this.errors.message = response.data.message;
                                this.errors.visible = true;
                                this.setMessageAction(
                                    { message: this.$t(this.errors.message), isVisible: true, type: 'error' }
                                );

                                if (response.data.errors) {
                                    if (response.data.errors.serviceType) {
                                        this.errors.serviceType = response.data.errors.serviceType;
                                    }
                                    if (response.data.errors.title) {
                                        this.errors.title = response.data.errors.title;
                                    }
                                    if (response.data.errors.note) {
                                        this.errors.note = response.data.errors.note;
                                    }
                                    if (response.data.errors.price) {
                                        this.errors.price = response.data.errors.price;
                                    }
                                    if (response.data.errors.isActive) {
                                        this.errors.isActive = response.data.errors.isActive;
                                    }
                                }
                            }
                            this.resetMessageTimeout(10000);
                        }).catch(() => {
                            this.form.recaptcha = '';
                            this.setMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch(() => {
                        this.form.recaptcha = '';
                        this.setMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
        },
    }
</script>

<style scoped>

</style>
