<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap class="mt-4">
            <v-col cols="12" md="12">
                <SubNavigationComp :items="navHelperItems" />
            </v-col>

            <v-col cols="12" offset-md="4" md="4">
                <v-flex class="text-center">
                    <h1>
                        {{ $t('statistics') }}
                    </h1>
                </v-flex>
            </v-col>

            <v-col cols="12" md="4" class="d-flex justify-end">
                <v-btn v-if="authenticated && getIsActionVisible(refreshStatisticsBtn)"
                    class="mx-2"
                    fab
                    dark
                    color="info"
                    elevation="3"
                    small
                    v-on:click.prevent="refreshStatisticsData"
                    :loading="isItemsLoading"
                    :disabled="isItemsLoading"
                >
                    <div class="hidden-sm-and-down">{{ refreshStatisticsBtn.title }}</div>
                    <v-icon>
                        {{ refreshStatisticsBtn.icon }}
                    </v-icon>
                </v-btn>
            </v-col>

            <v-col v-if="isItemsLoading" cols="12" md="12">
                <v-flex class="text-center">
                    <v-progress-circular
                        :size="40"
                        color="primary"
                        indeterminate
                    ></v-progress-circular>
                </v-flex>
            </v-col>

            <v-col v-else-if="!itemsList.length" cols="12" md="12">
                <v-flex class="text-center">
                    <h3>{{ $t('noRecords') }}</h3>
                </v-flex>
            </v-col>

            <v-col v-else cols="12" md="12">
                <v-row justify="space-around" class="mb-3" no-gutters>
                    <v-col cols="12" md="4" class="pa-2">
                       <v-flex>
                            <v-autocomplete
                                name="column"
                                v-model="column"
                                id="column"
                                :label="$t('column')"
                                :items="getAvailableItems(true, false)"
                                item-text="text"
                                item-value="value"
                                clearable
                            ></v-autocomplete>
                        </v-flex>
                    </v-col>

                    <v-col cols="12" md="1" class="pa-2">
                        <v-btn
                            class="ma-1"
                            color="primary"
                            plain
                            v-on:click.prevent="switchColumnAndRow()"
                        >
                            <v-icon dark>mdi-swap-horizontal</v-icon>
                        </v-btn>
                    </v-col>

                    <v-col cols="12" md="4" class="pa-2">
                       <v-flex>
                            <v-autocomplete
                                name="row"
                                v-model="row"
                                id="row"
                                :label="$t('row')"
                                :items="getAvailableItems(false, true)"
                                item-text="text"
                                item-value="value"
                                clearable
                            ></v-autocomplete>
                        </v-flex>
                    </v-col>
                </v-row>

                <v-row justify="space-around" class="mb-3" no-gutters>
                    <v-col v-if="!isTableHeadersEmpty" cols="12" md="12" class="text-center">
                        <v-btn
                            class="ma-1"
                            color="primary"
                            plain
                            v-on:click.prevent="clearHeaders"
                        >
                            {{ $t('clearData') }}
                        </v-btn>
                    </v-col>
                </v-row>

                <v-row v-if="showTable" no-gutters>
                    <h4>{{ tableTitle }}</h4>
                    <v-col cols="12" md="12">
                        <TableComp
                            :headers="getTableHeaders"
                            :items="getTableData"
                            :loading="isTableLoading"
                        />
                    </v-col>
                </v-row>
            </v-col>
        </v-layout>

        <v-divider></v-divider>

        <v-layout row wrap class="mt-12">
            <v-col cols="12" offset-md="4" md="4">
                <v-flex class="text-center">
                    <h1>{{ $t('users') }}</h1>
                </v-flex>
            </v-col>

            <v-col cols="12" md="4" class="d-flex justify-space-around">
                <v-btn v-if="authenticated && getIsActionVisible(refreshUsersBtn)"
                    class="mx-2"
                    fab
                    dark
                    color="info"
                    elevation="3"
                    small
                    v-on:click.prevent="refreshUsersData"
                    :loading="isUsersLoading"
                    :disabled="isUsersLoading"
                >
                    <div class="hidden-sm-and-down">{{ refreshUsersBtn.title }}</div>
                    <v-icon >
                        {{ refreshUsersBtn.icon }}
                    </v-icon>
                </v-btn>

                <v-btn v-if="authenticated && getIsActionVisible(newUserBtn)"
                    class="mx-2"
                    fab
                    dark
                    color="success"
                    elevation="3"
                    small
                    :to="newUserBtn.path"
                >
                    <div class="hidden-sm-and-down">{{ newUserBtn.title }}</div>
                    <v-icon >
                        {{ newUserBtn.icon }}
                    </v-icon>
                </v-btn>
            </v-col>

            <v-col v-if="isUsersLoading" cols="12" md="12">
                <v-flex class="text-center">
                    <v-progress-circular
                        :size="40"
                        color="primary"
                        indeterminate
                    ></v-progress-circular>
                </v-flex>
            </v-col>

            <v-col v-else-if="!userList.length" cols="12" md="12">
                <v-flex class="text-center">
                    <h3>{{ $t('noRecords') }}</h3>
                </v-flex>
            </v-col>

            <v-col v-else cols="12" offset-md="2" md="8">
                <ListComp :users="userList"/>
            </v-col>
        </v-layout>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import ListComp from '../components/ListComp';
    import TableComp from '../components/TableComp';
    import SubNavigationComp from '../components/SubNavigationComp';
    import userRoleMixin from '../mixins/userRoleMixin';
    import objectMixin from '../mixins/objectMixin';
    import localizationMixin from '../mixins/localizationMixin';

    export default {
        mixins: [ userRoleMixin, objectMixin, localizationMixin ],

        components: {
            ListComp,
            TableComp,
            SubNavigationComp,
        },

        data: () => ({
            refreshStatisticsBtn: { title: '', path: '', icon: 'mdi-cached', role: 'seeStatistics' },

            newUserBtn: { title: '', path: '/register', icon: 'mdi-plus', role: 'addNewUser' },
            refreshUsersBtn: { title: '', path: '', icon: 'mdi-cached', role: 'addNewUser' },

            column: null,
            row: null,

            isTableLoading: true,
            tableTitle: '',
            tableItems: [
                { value: 'ALL_CATEGORIES', disabled: false,
                    allowedToCompareWith: [ 'BRAND', 'STATUS', 'STATE' ]
                },
                { value: 'SKATES', disabled: false,
                    allowedToCompareWith: [ 'BRAND', 'STATUS', 'STATE', 'SIZE' ]
                },
                { value: 'STICKS', disabled: false,
                    allowedToCompareWith: [ 'BRAND', 'STATUS', 'STATE', 'SIZE' ]
                },
                { value: 'HELMET', disabled: false,
                    allowedToCompareWith: [ 'BRAND', 'STATUS', 'STATE', 'SIZE' ]
                },
                { value: 'GLOVES', disabled: false,
                    allowedToCompareWith: [ 'BRAND', 'STATUS', 'STATE', 'SIZE' ]
                },
                { value: 'PANTS', disabled: false,
                    allowedToCompareWith: [ 'BRAND', 'STATUS', 'STATE', 'SIZE' ]
                },
                { value: 'SHOULDER_PADS', disabled: false,
                    allowedToCompareWith: [ 'BRAND', 'STATUS', 'STATE', 'SIZE' ]
                },
                { value: 'SHIN_GUARDS', disabled: false,
                    allowedToCompareWith: [ 'BRAND', 'STATUS', 'STATE', 'SIZE' ]
                },
                { value: 'ELBOW_PADS', disabled: false,
                    allowedToCompareWith: [ 'BRAND', 'STATUS', 'STATE', 'SIZE' ]
                },
                { value: 'BAGS', disabled: false,
                    allowedToCompareWith: [ 'BRAND', 'STATUS', 'STATE', 'SIZE' ]
                },
                { value: 'KITS', disabled: false,
                    allowedToCompareWith: [ 'BRAND', 'STATUS', 'STATE', 'SIZE' ]
                },
                { value: 'BRAND', disabled: false,
                    allowedToCompareWith: [ 'ALL_CATEGORIES', 'SKATES', 'STICKS', 'HELMET', 'GLOVES', 'PANTS', 'SHOULDER_PADS', 'SHIN_GUARDS', 'ELBOW_PADS', 'BAGS', 'KITS', 'STATUS', 'STATE' ]
                },
                { value: 'STATUS', disabled: false,
                    allowedToCompareWith: [ 'ALL_CATEGORIES', 'SKATES', 'STICKS', 'HELMET', 'GLOVES', 'PANTS', 'SHOULDER_PADS', 'SHIN_GUARDS', 'ELBOW_PADS', 'BAGS', 'KITS', 'BRAND', 'STATE' ]
                },
                { value: 'STATE', disabled: false,
                    allowedToCompareWith: [ 'ALL_CATEGORIES', 'SKATES', 'STICKS', 'HELMET', 'GLOVES', 'PANTS', 'SHOULDER_PADS', 'SHIN_GUARDS', 'ELBOW_PADS', 'BAGS', 'KITS', 'BRAND', 'STATUS' ]
                },
                { value: 'SIZE', disabled: false,
                    allowedToCompareWith: [ 'SKATES', 'STICKS', 'HELMET', 'GLOVES', 'PANTS', 'SHOULDER_PADS', 'SHIN_GUARDS', 'ELBOW_PADS', 'BAGS', 'KITS' ]
                },
            ],

            statuses: [ { value: 1, name: 'active' }, { value: 0, name: 'inactive' }, ],

            navHelperItems: [
                {
                    text: 'navigation.home',
                    disabled: false,
                    href: '/',
                },
                {
                    text: 'navigation.controlPanel',
                    disabled: true,
                    href: '/acp',
                },
            ],
        }),

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                roles: 'auth/roles',
                userList: 'users/userList',
                isUsersLoading: 'users/isLoading',
                isItemsLoading: 'items/isLoading',
                itemsList: 'items/itemsList',
                categoriesEnum: 'enums/categories',
                statesEnum: 'enums/states',
                brandsEnum: 'enums/brands',
                sizesEnum: 'enums/sizes',
            }),
            showTable() {
                if (this.column && this.row) {
                    this.prepareTableTitle();
                    return true
                }
                return false;
            },
            getTableHeaders() {
                let tableHeaders = [];
                let rowData = this.tableItems.filter(item => item.value === this.row);
                let useTotal = true;

                tableHeaders.push(
                    { text: this.$t('enums.' + this.row), align: 'start', sortable: false, value: rowData[0].value }
                );

                if (this.column === 'BRAND') {
                    this.brandsEnum.forEach((brandKey) => {
                        tableHeaders.push( { text: this.$t('enums.' + brandKey), value: brandKey } );
                    });
                } else if (this.column === 'ALL_CATEGORIES') {
                    this.categoriesEnum.forEach((categoryKey) => {
                        tableHeaders.push( { text: this.$t('enums.' + categoryKey), value: categoryKey } );
                    });
                } else if (this.column === 'STATUS') {
                    this.statesEnum.forEach((stateKey) => {
                        tableHeaders.push( { text: this.$t('enums.' + stateKey), value: stateKey } );
                    });
                } else if (this.column === 'STATE') {
                    this.statuses.forEach((status) => {
                        tableHeaders.push( { text: this.$t(status.name), value: String(status.value) } );
                    });
                } else if (this.column === 'SIZE') {
                    tableHeaders = tableHeaders.concat(this.getAvailableSizes(this.row));
                    tableHeaders.push( { text: this.$t('other'), value: 'other' } );
                } else {
                    let columnData = this.tableItems.filter(item => item.value === this.column);
                    tableHeaders.push( { text: this.$t('enums.' + columnData[0].value), value: columnData[0].value } );
                    useTotal = false;
                }

                if (useTotal) {
                    tableHeaders.push( { text: this.$t('total'), value: 'total' } );
                }

                return tableHeaders;
            },
            getTableData() {
                let tableItems = [];
                if (!Array.isArray(this.itemsList)) {
                    return tableItems;
                }

                var row = {};
                if (this.row === 'BRAND') {
                    this.brandsEnum.forEach((brandKey) => {
                        let items = this.itemsList;
                        items = items.filter(item => item.brand === brandKey);
                        row = {};
                        row = this.getRowData(row, items);
                        row.BRAND = this.$t('enums.' + brandKey);
                        row.total = items.length ? items.length : '-';
                        tableItems.push( row );
                    });

                    row = {};
                    row = this.getRowData(row, this.itemsList);
                    row.BRAND = this.$t('total');
                    row.total = this.itemsList.length;
                    tableItems.push( row );
                } else if (this.row === 'ALL_CATEGORIES') {
                    this.categoriesEnum.forEach((categoryKey) => {
                        let items = this.itemsList;
                        items = items.filter(item => item.category === categoryKey);
                        row = {};
                        row = this.getRowData(row, items);
                        row.ALL_CATEGORIES = this.$t('enums.' + categoryKey);
                        row.total = items.length ? items.length : '-';
                        tableItems.push( row );
                    });

                    row = {};
                    row = this.getRowData(row, this.itemsList);
                    row.ALL_CATEGORIES = this.$t('total');
                    row.total = this.itemsList.length;
                    tableItems.push( row );
                } else if (this.row === 'STATUS') {
                    this.statesEnum.forEach((stateKey) => {
                        let items = this.itemsList;
                        items = items.filter(item => item.state === stateKey);
                        row = {};
                        row = this.getRowData(row, items);
                        row.STATUS = this.$t('enums.' + stateKey);
                        row.total = items.length ? items.length : '-';
                        tableItems.push( row );
                    });

                    row = {};
                    row = this.getRowData(row, this.itemsList);
                    row.STATUS = this.$t('total');
                    row.total = this.itemsList.length;
                    tableItems.push( row );
                } else if (this.row === 'STATE') {
                    this.statuses.forEach((status) => {
                        let items = this.itemsList;
                        items = items.filter(item => item.isActive === status.value);
                        row = {};
                        row = this.getRowData(row, items);
                        row.STATE = this.$t(status.name);
                        row.total = items.length ? items.length : '-';
                        tableItems.push( row );
                    });

                    row = {};
                    row = this.getRowData(row, this.itemsList);
                    row.STATE = this.$t('total');
                    row.total = this.itemsList.length;
                    tableItems.push( row );
                } else if (this.row === 'SIZE') {
                    let items = this.itemsList;
                    let rowData = this.tableItems.filter(item => item.value === this.row);
                    let columnData = this.tableItems.filter(item => item.value === this.column);
                    let categoryKey = this.column;
                    items = items.filter(item => item.category === categoryKey);

                    let itemSizeCount = 0;
                    this.getAvailableSizes(this.column).forEach((size) => {
                        var foundItems = [];
                        if (categoryKey === 'SKATES') {
                            foundItems = items.filter(item => item.skateLength === size.value);
                        } else if (categoryKey === 'STICKS') {
                            foundItems = items.filter(item => item.stickSize === size.value);
                        } else {
                            foundItems = items.filter(item => item.size === size.value);
                        }
                        itemSizeCount += foundItems.length;

                        row = {};
                        row[rowData[0].value] = size.text;
                        row[columnData[0].value] = foundItems.length ? foundItems.length : '-';
                        tableItems.push( row );
                    });

                    row[rowData[0].value] = this.$t('other');
                    row[columnData[0].value] = (items.length - itemSizeCount > 0)
                        ? (items.length - itemSizeCount)
                        : '-';
                    tableItems.push( row );

                    row = {};
                    row[rowData[0].value] = this.$t('total');
                    row[columnData[0].value] = items.length  ? items.length  : '-';
                    tableItems.push( row );
                } else {
                    let rowData = this.tableItems.filter(item => item.value === this.row);
                    let categoryKey = this.row;
                    let items = this.itemsList.filter(item => item.category === categoryKey);

                    row = {};
                    row = this.getRowData(row, items);
                    row[rowData[0].value] = this.$t('numberOf');
                    row.total = items.length ? items.length : '-';
                    tableItems.push( row );
                }

                this.setIsTableLoading();
                return tableItems;
            },
            isTableHeadersEmpty() {
                return (this.column || this.row) ? false : true;
            },
        },

        methods: {
            ...mapActions({
                getItemListAction: 'items/getItems',
                getUsersListAction: 'users/getUsers',
                setMessageAction: 'message/setMessage',
            }),
            refreshUsersData() {
                this.getUsersListAction().then(() => {
                    this.setMessageAction(
                        { message: this.$t('dataUpdated'), isVisible: true, type: 'success' }
                    );
                }).catch(() => {
                    this.setMessageAction(
                        { message: this.$t('error.error'), isVisible: true, type: 'error' }
                    );
                });
            },
            refreshStatisticsData() {
                this.getItemListAction().then(() => {
                    this.setMessageAction(
                        { message: this.$t('dataUpdated'), isVisible: true, type: 'success' }
                    );
                }).catch(() => {
                    this.setMessageAction(
                        { message: this.$t('error.error'), isVisible: true, type: 'error' }
                    );
                });
            },
            switchColumnAndRow() {
                if (this.column && this.row) {
                    [this.column, this.row] = [this.row, this.column];
                }
            },
            getRowData(row, items) {
                if (!Array.isArray(items)) {
                    return row;
                }

                if (this.column === 'BRAND') {
                    this.brandsEnum.forEach((brandKey) => {
                        let count = items.filter(item => item.brand === brandKey).length;
                        row[brandKey] = count ? count : '-';
                    });
                } else if (this.column === 'ALL_CATEGORIES') {
                    this.categoriesEnum.forEach((categoryKey) => {
                        let count = items.filter(item => item.category === categoryKey).length;
                        row[categoryKey] = count ? count : '-';
                    });
                } else if (this.column === 'STATUS') {
                    this.statesEnum.forEach((stateKey) => {
                        let count = items.filter(item => item.state === stateKey).length;
                        row[stateKey] = count ? count : '-';
                    });
                } else if (this.column === 'STATE') {
                    this.statuses.forEach((status) => {
                        let count = items.filter(item => item.isActive === status.value).length;
                        row[status.value] = count ? count : '-';
                    });
                } else if (this.column === 'SIZE') {
                    let categoryKey = this.row;
                    let count = 0;
                    let itemSizeCount = 0;

                    this.getAvailableSizes(this.row).forEach((size) => {
                        if (categoryKey === 'SKATES') {
                            count = items.filter(item => item.skateLength === size.value).length;
                        } else if (categoryKey === 'STICKS') {
                            count = items.filter(item => item.stickSize === size.value).length;
                        } else {
                            count = items.filter(item => item.size === size.value).length;
                        }
                        row[size.value] = count ? count : '-';
                        itemSizeCount += count;
                    });

                    row.other = (items.length - itemSizeCount > 0)
                        ? (items.length - itemSizeCount)
                        : '-';
                } else {
                    let categoryKey = this.column;
                    let count = items.filter(item => item.category === categoryKey).length;
                    let columnData = this.tableItems.filter(item => item.value === this.column);
                    row[columnData[0].value] = count ? count : '-';
                }
                return row;
            },
            clearHeaders() {
                this.column = null;
                this.row = null;
                this.setMessageAction(
                    { message: this.$t('dataCleared'), isVisible: true, type: 'success' }
                );
            },
            getAvailableSizes(category) {
                var availableSizes = [];
                if (category) {
                    if (category === 'HELMET') {
                        this.sizesEnum.HELMET.forEach(size => {
                            availableSizes.push( { text: size, value: String(size) } );
                        });
                    } else if (category === 'GLOVES') {
                        this.sizesEnum.GLOVES.forEach(size => {
                            availableSizes.push( { text: size, value: String(size) } );
                        });
                    } else if (category === 'PANTS'
                        || category === 'SHOULDER_PADS'
                        || category === 'ELBOW_PADS'
                    ) {
                        this.sizesEnum.PANTS_SHOULDER_ELBOW_PAD_SIZES.forEach(size => {
                            availableSizes.push( { text: this.$t('enums.' + size), value: String(size) } );
                        });
                    } else if (category === 'SHIN_GUARDS') {
                        this.sizesEnum.SHIN_GUARD.forEach(size => {
                            availableSizes.push( { text: size, value: String(size) } );
                        });
                    } else if (category === 'BAGS') {
                        this.sizesEnum.BAG.forEach(size => {
                            availableSizes.push( { text: size, value: String(size) } );
                        });
                    } else if (category === 'KITS') {
                        this.sizesEnum.KIT.forEach(size => {
                            availableSizes.push( { text: size, value: String(size) } );
                        });
                    } else if (category === 'SKATES') {
                        this.getEntries(this.sizesEnum.SKATES.LENGTH).forEach(entry => {
                            const [key, value] = entry;
                            availableSizes.push( { text: key + ' (EUR ' + value.EUR + ')', value: key } );
                        });
                    } else if (category === 'STICKS') {
                        this.sizesEnum.STICK.SIZE.forEach(size => {
                            availableSizes.push( { text: size, value: String(size) } );
                        });
                    }
                }

                return [...new Set(availableSizes)];
            },
            getAvailableItems(isColumn, isRow) {
                let availableItems = this.tableItems;
                let takenItem = null;

                if (isColumn && this.row) {
                    availableItems.forEach((item, index) => {
                        if (item.value === this.row) {
                            takenItem = item;
                        }
                        availableItems[index].disabled = false;
                    });
                } else if (isRow && this.column) {
                    availableItems.forEach((item, index) => {
                        if (item.value === this.column) {
                            takenItem = item;
                        }
                        availableItems[index].disabled = false;
                    });
                } else {
                    availableItems.forEach((item, index) => {
                        availableItems[index].disabled = false;
                    });
                }

                if (takenItem !== null) {
                    availableItems.forEach((item, index) => {
                        if ((item.value === this.column || item.value === this.row)
                            || !takenItem.allowedToCompareWith.includes(item.value)
                        ) {
                            availableItems[index].disabled = true;
                        } else {
                            availableItems[index].disabled = false;
                        }
                    });
                }

                return this.prepareExistingList(availableItems);
            },
            prepareTableTitle() {
                this.tableTitle = this.$t('numberOf') + ': '
                    + this.$t('enums.' + this.column) + ' / ' + this.$t('enums.' + this.row);
            },
            setIsTableLoading() {
                this.isTableLoading = false;
            },
        },

        created: function() {
            this.getUsersListAction();
        },
    }
</script>

<style scoped>

</style>
