<template>
    <v-container fluid grid-list-md >
        <v-layout wrap>
            <v-col cols="12" md="4">
                <v-flex v-if="visibleItems.length" class="text-center">
                    <h4>
                        {{ $t('showing') }}: {{ ((pagination.page - 1) * pagination.perPage) + 1 }} -
                        {{
                            (pagination.page * pagination.perPage) > filteredAndSortedItems.length
                                ? filteredAndSortedItems.length
                                : (pagination.page * pagination.perPage)
                        }}
                        | {{ $t('totalOf') }}: {{ filteredAndSortedItems.length }}
                    </h4>
                </v-flex>
            </v-col>

            <v-col cols="12" md="4">
                <v-flex class="text-center">
                    <h1>{{ $t('navigation.adverts') }}</h1>
                </v-flex>
            </v-col>

            <v-col cols="12" md="4" class="d-flex justify-space-around">
                <v-btn v-if="authenticated"
                    class="mx-2"
                    fab
                    dark
                    color="info"
                    elevation="3"
                    small
                    v-on:click.prevent="refreshData"
                    :loading="isListLoading"
                    :disabled="isListLoading"
                >
                    <div class="hidden-sm-and-down">{{ refreshDataBtn.title }}</div>
                    <v-icon >
                        {{ refreshDataBtn.icon }}
                    </v-icon>
                </v-btn>

                <v-btn v-if="authenticated"
                    class="mx-2"
                    fab
                    dark
                    color="success"
                    elevation="3"
                    small
                    :to="newItemBtn.path"
                >
                    <div class="hidden-sm-and-down">{{ newItemBtn.title }}</div>
                    <v-icon dark>
                        {{ newItemBtn.icon }}
                    </v-icon>
                </v-btn>
            </v-col>

            <v-col v-if="isListLoading" cols="12" class="text-center">
                <v-progress-circular
                    :size="40"
                    color="primary"
                    indeterminate
                ></v-progress-circular>
            </v-col>

            <v-col v-else-if="!itemsList.length" cols="12" class="text-center">
                <h3>{{ $t('noRecords') }}</h3>
            </v-col>

            <v-flex v-else>
                <v-row justify="space-around" class="my-3" no-gutters>
                    <v-col cols="12" md="3" class="pa-2">
                        <v-flex>
                            <v-autocomplete
                                name="perPage"
                                v-model="pagination.perPage"
                                id="perPage"
                                :label="$t('show')"
                                :items="perPageList"
                            ></v-autocomplete>
                        </v-flex>
                    </v-col>

                    <v-col cols="12" md="3" class="pa-2">
                       <v-flex>
                            <v-autocomplete
                                name="sortBy"
                                v-model="sortBy"
                                id="sortBy"
                                :label="$t('sortBy')"
                                :items="getSelectionItems(sortList)"
                                item-text="text"
                                item-value="value"
                            ></v-autocomplete>
                        </v-flex>
                    </v-col>

                    <v-col cols="12" md="3" class="pa-2">
                       <v-flex>
                            <v-autocomplete
                                name="category"
                                v-model="category"
                                id="category"
                                :label="$t('category')"
                                :items="getSelectionItems(categoriesEnum)"
                                item-text="text"
                                item-value="value"
                                clearable
                            ></v-autocomplete>
                        </v-flex>
                    </v-col>
                </v-row>

                <v-row justify="space-around" class="mb-3" no-gutters>
                    <v-col cols="12" md="3" class="pa-2">
                       <v-flex>
                            <v-autocomplete
                                name="brands"
                                v-model="brands"
                                id="brands"
                                :label="$t('brand')"
                                multiple
                                chips
                                :items="getSelectionItems(brandsEnum)"
                                item-text="text"
                                item-value="value"
                                clearable
                                deletable-chips
                            ></v-autocomplete>
                        </v-flex>
                    </v-col>

                    <v-col cols="12" md="3" class="pa-2">
                       <v-flex>
                            <v-autocomplete
                                name="sizes"
                                v-model="sizes"
                                id="sizes"
                                :label="$t('size')"
                                multiple
                                chips
                                :items="getAvailableSizes()"
                                item-text="text"
                                item-value="value"
                                :disabled="!isSizeSearchableCategorySelected"
                                clearable
                                deletable-chips
                            ></v-autocomplete>
                        </v-flex>
                    </v-col>

                    <v-col cols="12" md="3" class="pa-2">
                       <v-flex>
                            <v-autocomplete
                                name="states"
                                v-model="states"
                                id="states"
                                :label="$t('state')"
                                multiple
                                chips
                                :items="getSelectionItems(statesEnum)"
                                item-text="text"
                                item-value="value"
                                clearable
                                deletable-chips
                            ></v-autocomplete>
                        </v-flex>
                    </v-col>
                </v-row>

                <v-row v-if="category === 'STICKS'" justify="space-around" class="mb-3" no-gutters>
                    <v-col cols="12" md="3" class="pa-2">
                       <v-flex>
                            <v-autocomplete
                                name="stickSizes"
                                v-model="stickSizes"
                                id="stickSizes"
                                :label="$t('stickSize')"
                                multiple
                                chips
                                :items="sizesEnum.STICK.SIZE"
                                clearable
                                deletable-chips
                            ></v-autocomplete>
                        </v-flex>
                    </v-col>

                    <v-col cols="12" md="3" class="pa-2">
                       <v-flex>
                            <v-autocomplete
                                name="bladeCurves"
                                v-model="bladeCurves"
                                id="bladeCurves"
                                :label="$t('stickBlade')"
                                multiple
                                chips
                                :items="sizesEnum.STICK.BLADE_CURVE"
                                clearable
                                deletable-chips
                            ></v-autocomplete>
                        </v-flex>
                    </v-col>

                    <v-col cols="12" md="3" class="pa-2">
                       <v-flex>
                            <v-range-slider
                                name="stickFlex"
                                v-model="stickFlexRange"
                                id="stickFlex"
                                :label="$t('stickFlex')"
                                :max="max"
                                :min="min"
                                step="1"
                                thumb-label="always"
                                class="align-center"
                            ></v-range-slider>
                        </v-flex>
                    </v-col>
                </v-row>

                <v-row v-if="category === 'STICKS'" justify="space-around" class="mb-3" no-gutters>
                   <v-col cols="12" md="3" class="pa-2">
                       <v-flex>
                            <v-autocomplete
                                name="bladeSides"
                                v-model="bladeSides"
                                id="bladeSides"
                                :label="$t('stickGrip')"
                                multiple
                                chips
                                :items="getSelectionItems(sizesEnum.STICK.BLADE_SIDE)"
                                item-text="text"
                                item-value="value"
                                clearable
                                deletable-chips
                            ></v-autocomplete>
                        </v-flex>
                    </v-col>
                </v-row>

                <v-row v-if="category === 'SKATES'" justify="space-around" class="mb-3" no-gutters>
                    <v-col cols="12" md="3" class="pa-2">
                       <v-flex>
                            <v-autocomplete
                                name="skateLengths"
                                v-model="skateLengths"
                                id="skateLengths"
                                :label="$t('skateLengths')"
                                multiple
                                chips
                                :items="getSkateSizes()"
                                clearable
                                deletable-chips
                            ></v-autocomplete>
                        </v-flex>
                    </v-col>

                    <v-col cols="12" md="3" class="pa-2">
                       <v-flex>
                            <v-autocomplete
                                name="skateWidths"
                                v-model="skateWidths"
                                id="skateWidths"
                                :label="$t('skateWidths')"
                                multiple
                                chips
                                :items="sizesEnum.SKATES.WIDTH"
                                clearable
                                deletable-chips
                            ></v-autocomplete>
                        </v-flex>
                    </v-col>
                </v-row>

                <v-row justify="space-around" class="mb-3" no-gutters>
                    <v-col v-if="!isCriteriaEmpty" cols="12" md="12" class="text-center">
                        <v-btn
                            class="ma-1"
                            color="primary"
                            plain
                            v-on:click.prevent="clearSelectionCriteria"
                        >
                            {{ $t('clearSelectionCriteria') }}
                        </v-btn>
                    </v-col>
                </v-row>

                <v-col v-if="isPreparingList" cols="12" class="text-center">
                    <v-progress-circular
                        :size="40"
                        color="primary"
                        indeterminate
                    ></v-progress-circular>
                </v-col>

                <v-col v-else-if="!filteredAndSortedItems.length" cols="12" class="text-center">
                    <h3>{{ $t('noRecords') }}</h3>
                </v-col>

                <v-row v-else no-gutters>
                    <v-col cols="12" md="3" v-for="(item, i) in visibleItems" :key="i">
                        <CardComp :item="item" :isForListing="true"/>
                    </v-col>
                </v-row>
            </v-flex>
        </v-layout>

        <v-pagination
            v-if="!isListLoading && itemsList.length > 0"
            v-model="pagination.page"
            :length="Math.ceil(filteredAndSortedItems.length / pagination.perPage)"
            :total-visible="7"
        ></v-pagination>
    </v-container>
</template>

<script>
    import CardComp from '../components/CardComp';
    import { mapGetters, mapActions } from 'vuex';
    import sizesMixin from '../mixins/sizesMixin';
    import localizationMixin from '../mixins/localizationMixin';

    export default {
        mixins: [ sizesMixin, localizationMixin ],

        components: {
            CardComp,
        },

        data: () => ({
            newItemBtn: { title: '', path: '/newItem', icon: 'mdi-plus' },
            refreshDataBtn: { title: '', path: '', icon: 'mdi-cached' },
            isPreparingList: false,
            onlyActiveItems: [],
            filteredAndSortedItems: [],

            perPageList: [ 24, 48, 72 ],
            pagination: { page: 1, perPage: 24 },

            sortList: [ 'DATE_DESC', 'DATE_ASC', 'PRICE_DESC', 'PRICE_ASC' ],

            sortBy: 'DATE_DESC',
            brands: [],
            category: '',
            states: [],
            skateLengths: [],
            skateWidths: [],
            stickSizes: [],
            bladeCurves: [],
            bladeSides: [],
            stickFlexRange: [ 10, 140 ],
            min: 10,
            max: 140,
            sizes: [],
        }),

        computed: {
            ...mapGetters({
                isListLoading: 'items/isLoading',
                itemsList: 'items/itemsList',
                authenticated: 'auth/authenticated',
                isAuthLoading: 'auth/isLoading',
                categoriesEnum: 'enums/categories',
                statesEnum: 'enums/states',
                brandsEnum: 'enums/brands',
                sizesEnum: 'enums/sizes',
            }),
            getFilteredAndSortedItems() {
                this.getOnlyActiveItems();
                this.filter();
                return this.filteredAndSortedItems;
            },
            visibleItems() {
                return this.getFilteredAndSortedItems.slice(
                    (this.pagination.page - 1) * this.pagination.perPage,
                    this.pagination.page * this.pagination.perPage,
                );
            },
            isCriteriaEmpty() {
                return (this.brands.length || this.category || this.states.length || this.sizes.length)
                    ? false
                    : true;
            },
            isSizeSearchableCategorySelected() {
                return this.category === 'HELMET'
                    || this.category === 'GLOVES'
                    || this.category === 'PANTS'
                    || this.category === 'SHOULDER_PADS'
                    || this.category === 'SHIN_GUARDS'
                    || this.category === 'ELBOW_PADS'
                    || this.category === 'BAGS'
                    || this.category === 'KITS';
            },
        },

        methods: {
            ...mapActions({
                getItemListAction: 'items/getItems',
                setMessageAction: 'message/setMessage',
            }),
            sort() {
                this.isPreparingList = true;
                if (this.sortBy === 'DATE_DESC') {
                    this.filteredAndSortedItems = this.filteredAndSortedItems.sort((b, a) =>
                        new Date(a.editedAt) - new Date(b.editedAt)
                    );
                } else if (this.sortBy === 'DATE_ASC') {
                    this.filteredAndSortedItems = this.filteredAndSortedItems.sort((a, b) =>
                        new Date(a.editedAt) - new Date(b.editedAt)
                    );
                } else if (this.sortBy === 'PRICE_DESC') {
                    this.filteredAndSortedItems = this.filteredAndSortedItems.sort((a, b) =>
                        a.priceInMinorUnit < b.priceInMinorUnit
                    );
                } else if (this.sortBy === 'PRICE_ASC') {
                    this.filteredAndSortedItems = this.filteredAndSortedItems.sort((a, b) =>
                        a.priceInMinorUnit > b.priceInMinorUnit
                    );
                }
                this.isPreparingList = false;
            },
            getOnlyActiveItems() {
                if (!this.isAuthLoading && Array.isArray(this.itemsList)) {
                    this.onlyActiveItems = this.itemsList.filter(item =>
                        this.authenticated || item.isActive
                    );
                }
                return this.onlyActiveItems;
            },
            filter() {
                this.isPreparingList = true;
                this.filteredAndSortedItems = this.onlyActiveItems;

                if (this.brands.length > 0) {
                    this.filteredAndSortedItems = this.filteredAndSortedItems.filter(item => {
                        return this.brands.some(brand => item.brand === brand);
                    });
                }

                if (this.category) {
                    this.filteredAndSortedItems = this.filteredAndSortedItems.filter(item => {
                        return item.category === this.category;
                    });
                }

                if (this.states.length > 0) {
                    this.filteredAndSortedItems = this.filteredAndSortedItems.filter(item => {
                        return this.states.some(state => item.state === state);
                    });
                }

                if (this.category === 'SKATES') {
                    if (this.skateLengths.length > 0) {
                        this.filteredAndSortedItems = this.filteredAndSortedItems.filter(item => {
                            return this.skateLengths.some(size =>
                                (item.skateLength + ' - EUR ' + this.sizesEnum.SKATES.LENGTH[item.skateLength].EUR) === size
                            );
                        });
                    }

                    if (this.skateWidths.length > 0) {
                        this.filteredAndSortedItems = this.filteredAndSortedItems.filter(item => {
                            return this.skateWidths.some(width => item.skateWidth === width);
                        });
                    }
                }

                if (this.category === 'STICKS') {
                    if (this.stickSizes.length > 0) {
                        this.filteredAndSortedItems = this.filteredAndSortedItems.filter(item => {
                            return this.stickSizes.some(size => item.stickSize === size);
                        });
                    }

                    if (this.bladeCurves.length > 0) {
                        this.filteredAndSortedItems = this.filteredAndSortedItems.filter(item => {
                            return this.bladeCurves.some(curve => item.bladeCurve === curve);
                        });
                    }

                    if (this.stickFlexRange) {
                        this.filteredAndSortedItems = this.filteredAndSortedItems.filter(item => {
                            return item.stickFlex >= this.stickFlexRange[0] && item.stickFlex <= this.stickFlexRange[1]
                        });
                    }

                    if (this.bladeSides.length > 0) {
                        this.filteredAndSortedItems = this.filteredAndSortedItems.filter(item => {
                            return this.bladeSides.some(side => item.bladeSide === side);
                        });
                    }
                }

                if (this.isSizeSearchableCategorySelected) {
                    if (this.sizes.length > 0) {
                        this.filteredAndSortedItems = this.filteredAndSortedItems.filter(item => {
                            return this.sizes.some(size => item.size === size.toString());
                        });
                    }
                }

                this.sort();
                this.isPreparingList = false;
            },
            refreshData() {
                this.getItemListAction().then(() => {
                    this.setMessageAction(
                        { message: this.$t('dataUpdated'), isVisible: true, type: 'success' }
                    );
                }).catch(() => {
                    this.setMessageAction(
                        { message: this.$t('error.error'), isVisible: true, type: 'error' }
                    );
                });
            },
            clearSelectionCriteria() {
                this.brands = [];
                this.category = '';
                this.states = [];
                this.skateLengths = [];
                this.skateWidths = [];
                this.stickSizes = [];
                this.bladeCurves = [];
                this.bladeSides = [];
                this.stickFlexRange = [10, 140];
                this.sizes = [];
                this.setMessageAction(
                    { message: this.$t('criteriaCleared'), isVisible: true, type: 'success' }
                );
            },
            getAvailableSizes() {
                var availableSizes = [];
                var isCategoryEnumsAvailable = false;

                if (this.category) {
                    if (this.category === 'HELMET') {
                        availableSizes = availableSizes.concat(this.sizesEnum.HELMET);
                    } else if (this.category === 'GLOVES') {
                        availableSizes = availableSizes.concat(this.sizesEnum.GLOVES);
                    } else if (this.category === 'PANTS'
                        || this.category === 'SHOULDER_PADS'
                        || this.category === 'ELBOW_PADS'
                    ) {
                        isCategoryEnumsAvailable = true;
                        availableSizes = availableSizes.concat(this.sizesEnum.PANTS_SHOULDER_ELBOW_PAD_SIZES);
                    } else if (this.category === 'SHIN_GUARDS') {
                        availableSizes = availableSizes.concat(this.sizesEnum.SHIN_GUARD);
                    } else if (this.category === 'BAGS') {
                        availableSizes = availableSizes.concat(this.sizesEnum.BAG);
                    } else if (this.category === 'KITS') {
                        availableSizes = availableSizes.concat(this.sizesEnum.KIT);
                    }
                }

                if (isCategoryEnumsAvailable) {
                    return this.getSelectionItems([...new Set(availableSizes)]);
                }

                return this.getSelectionItemsWithoutEnumValues([...new Set(availableSizes)]);
            }
        },
    }
</script>

<style>

</style>
