<template>
    <v-container fluid class="py-4">
        <v-layout wrap>
            <v-col cols="12" md="12">
                <SubNavigationComp :items="navHelperItems" />
            </v-col>

            <v-flex xs12 sm6 offset-sm3 class="text-center" mt-5>
                <Alert v-if="errors.visible" :error="errors.message" />

                <h1>{{ $t('changeLanguage') }}</h1>
            </v-flex>

            <v-flex xs12 sm6 offset-sm3 mt-3>
                <form @submit.prevent="changeLanguage">
                    <v-layout column>
                        <v-flex>
                            <v-autocomplete
                                name="language"
                                v-model="form.language"
                                id="language"
                                :label="$t('language')"
                                :items="getSelectionItems(languagesEnum)"
                                item-text="text"
                                item-value="value"
                                :placeholder="$t('chooseLanguage')"
                                :error-messages="languageErrors"
                                :auto-select-first="true"
                                @input="$v.form.language.$touch()"
                                @blur="$v.form.language.$touch()"
                            ></v-autocomplete>
                        </v-flex>

                        <v-flex mt-5>
                            <v-btn
                                color="primary"
                                type="submit"
                                :loading="loading"
                                :disabled="loading"
                                small
                            >
                                {{ $t('change') }}
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import { validationMixin } from 'vuelidate';
    import { required, sameAs, not } from 'vuelidate/lib/validators';
    import Alert from '../components/popups/AlertPopup';
    import SubNavigationComp from '../components/SubNavigationComp';
    import messageMixin from '../mixins/messageMixin';
    import localizationMixin from '../mixins/localizationMixin';
    import arrayMixin from '../mixins/arrayMixin';

    export default {
        mixins: [ validationMixin, messageMixin, localizationMixin, arrayMixin ],

        validations: {
            form: {
                language: {
                    required,
                    notSameAsLanguage: not(sameAs(function() {
                        return this.user.language;
                    }))
                },
            },
        },

        components: {
            Alert,
            SubNavigationComp,
        },

        data: () => ({
            form: {
                id: null,
                language: '',
                recaptcha: '',
            },
            errors: {
                language: null,
                message: null,
                visible: false,
            },
            loading: false,
            navHelperItems: [
                {
                    text: 'navigation.home',
                    disabled: false,
                    href: '/',
                },
                {
                    text: 'account',
                    disabled: false,
                    href: '/account',
                },
                {
                    text: 'changeLanguage',
                    disabled: true,
                    href: '/changeLanguage',
                },
            ],
        }),

        computed: {
            languageErrors() {
                const errors = [];
                if (this.errors.language) {
                    errors.push(this.$t(this.errors.language[0]));
                    this.clearArray(this.errors.language);
                }
                if (!this.$v.form.language.$dirty) return errors;
                !this.$v.form.language.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.language.notSameAsLanguage && errors.push(this.$t('validation.mustNotBeTheSame'));
                return errors;
            },
            ...mapGetters({
                authenticated: 'auth/authenticated',
                user: 'auth/user',
                languagesEnum: 'enums/languages',
            }),
        },

        methods: {
            ...mapActions({
                refreshUserDataAction: 'auth/login',
                setMessageAction: 'message/setMessage',
            }),
            changeLanguage() {
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.errors.message = this.$t('error.errorInData');
                    this.errors.visible = true;
                    this.resetMessageTimeout(10000);
                    this.setMessageAction(
                        { message: this.$t('error.error'), isVisible: true, type: 'error' }
                    );
                } else {
                    this.loading = true;
                    this.$recaptcha('changeLanguage').then(token => {
                        this.form.recaptcha = token;
                        this.form.id = this.user.id;
                        this.$http.post('/changeLanguage', this.form).then(response => {
                            this.loading  = false;
                            this.form.recaptcha = '';
                            this.form.id = '';
                            if (response.data.success) {
                                this.setMessageAction(
                                    { message: this.$t(response.data.message), isVisible: true, type: 'success' }
                                );
                                this.refreshUserDataAction();
                                this.$router.push({ name: 'AccountPage' });
                            } else {
                                this.errors.message = response.data.message;
                                this.errors.visible = true;
                                this.setMessageAction(
                                    { message: this.$t(this.errors.message), isVisible: true, type: 'error' }
                                );

                                if (response.data.errors) {
                                    if (response.data.errors.language) {
                                        this.errors.language = response.data.errors.language;
                                    }
                                }
                            }
                            this.resetMessageTimeout(10000);
                        }).catch(() => {
                            this.form.recaptcha = '';
                            this.form.id = '';
                            this.setMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch(() => {
                        this.form.recaptcha = '';
                        this.form.id = '';
                        this.setMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
        },

        created: function() {
            if (this.authenticated) {
                this.form.language = this.user.language;
            } else {
                this.setMessageAction(
                    { message: this.$t('error.userNotFound'), isVisible: true, type: 'error' }
                );
                this.$router.push({ name: 'HomePage' });
            }
        },
    }
</script>

<style scoped>

</style>
