<template>
    <v-container fluid class="py-4">
        <v-layout wrap>
            <v-col cols="12" md="12">
                <SubNavigationComp :items="navHelperItems" />
            </v-col>

            <ConfirmDialogComp
                v-if="isVisible"
                :title="eventName"
                @data="prepareDialogData"
            />

            <v-flex xs12 sm6 offset-sm3 class="text-right">
                <v-btn
                    class="ml-2"
                    v-bind:color="form.isActive ? 'error' : 'primary'"
                    dark
                    small
                    v-on:click.prevent="setDialogData('markItem')"
                    :loading="loading"
                    :disabled="loading"
                >
                    {{ form.isActive ? $t('markAsInactive') : $t('markAsActive') }}
                    <v-icon
                        dark
                        right
                    >
                        {{ form.isActive ? 'mdi-eye-off' : 'mdi-eye' }}
                    </v-icon>
                </v-btn>

                <v-btn
                    class="ml-2"
                    color="error"
                    dark
                    small
                    v-on:click.prevent="setDialogData('deleteItem')"
                    :loading="loading"
                    :disabled="loading"
                >
                    {{ $t('delete') }}
                    <v-icon dark right>mdi-close</v-icon>
                </v-btn>
            </v-flex>

            <v-flex xs12 sm6 offset-sm3 class="text-center" mt-5>
                <Alert v-if="errors.visible" :error="errors.message" />

                <h1>{{ $t('editAdvert') }}</h1>
            </v-flex>

            <v-flex xs12 sm6 offset-sm3 mt-3>
                <form @submit.prevent="editItem">
                    <v-layout column>
                        <v-flex>
                            <v-text-field
                                name="title"
                                v-model="form.title"
                                id="title"
                                :label="$t('title')"
                                type="text"
                                :error-messages="titleErrors"
                                :counter="256"
                                required
                                @input="$v.form.title.$touch()"
                                @blur="$v.form.title.$touch()"
                            ></v-text-field>
                        </v-flex>

                        <v-flex>
                            <v-textarea
                                solo
                                name="description"
                                v-model="form.description"
                                id="description"
                                :label="$t('description')"
                                :error-messages="descriptionErrors"
                                @input="$v.form.description.$touch()"
                                @blur="$v.form.description.$touch()"
                            ></v-textarea>
                        </v-flex>

                        <v-flex>
                            <v-autocomplete
                                name="brand"
                                v-model="form.brand"
                                id="brand"
                                :label="$t('brand')"
                                :items="getSelectionItems(brandsEnum)"
                                item-text="text"
                                item-value="value"
                                :placeholder="$t('chooseBrand')"
                                :error-messages="brandErrors"
                                :auto-select-first="true"
                                @input="$v.form.brand.$touch()"
                                @blur="$v.form.brand.$touch()"
                            ></v-autocomplete>
                        </v-flex>

                        <v-flex>
                            <v-text-field
                                name="price"
                                v-model="form.price"
                                id="price"
                                :label="$t('price')"
                                prefix="€"
                                :error-messages="priceErrors"
                                @input="$v.form.price.$touch()"
                                @blur="$v.form.price.$touch()"
                            ></v-text-field>
                        </v-flex>

                        <v-flex>
                            <v-autocomplete
                                name="state"
                                v-model="form.state"
                                id="state"
                                :label="$t('state')"
                                :items="getSelectionItems(statesEnum)"
                                item-text="text"
                                item-value="value"
                                :placeholder="$t('chooseState')"
                                :auto-select-first="true"
                                :error-messages="stateErrors"
                                required
                                @input="$v.form.state.$touch()"
                                @blur="$v.form.state.$touch()"
                            ></v-autocomplete>
                        </v-flex>

                        <v-flex>
                            <v-autocomplete
                                name="category"
                                v-model="form.category"
                                id="category"
                                :label="$t('category')"
                                :items="getSelectionItems(categoriesEnum)"
                                item-text="text"
                                item-value="value"
                                :placeholder="$t('chooseCategory')"
                                :error-messages="categoryErrors"
                                :auto-select-first="true"
                                required
                                @input="$v.form.category.$touch()"
                                @blur="$v.form.category.$touch()"
                                @change="resetSize()"
                            ></v-autocomplete>
                        </v-flex>

                        <div v-if="form.category === 'SKATES'">
                            <v-flex>
                                <v-autocomplete
                                    name="skateLength"
                                    v-model="form.skateLength"
                                    id="skateLength"
                                    :label="$t('skateLength')"
                                    :items="getSkateSizes()"
                                    :placeholder="$t('chooseSkateLength')"
                                    :error-messages="skateLengthErrors"
                                    :auto-select-first="true"
                                    @input="$v.form.skateLength.$touch()"
                                    @blur="$v.form.skateLength.$touch()"
                                ></v-autocomplete>
                            </v-flex>

                            <v-flex>
                                <v-autocomplete
                                    name="skateWidth"
                                    v-model="form.skateWidth"
                                    id="skateWidth"
                                    :label="$t('skateWidth')"
                                    :items="sizesEnum.SKATES.WIDTH"
                                    :placeholder="$t('chooseSkateWidth')"
                                    :error-messages="skateWidthErrors"
                                    :auto-select-first="true"
                                    @input="$v.form.skateWidth.$touch()"
                                    @blur="$v.form.skateWidth.$touch()"
                                ></v-autocomplete>
                            </v-flex>
                        </div>
                        <div v-else-if="form.category === 'STICKS'">
                            <v-flex>
                                <v-autocomplete
                                    name="stickSize"
                                    v-model="form.stickSize"
                                    id="stickSize"
                                    :label="$t('stickSize')"
                                    :items="sizesEnum.STICK.SIZE"
                                    :placeholder="$t('chooseStickSize')"
                                    :error-messages="stickSizeErrors"
                                    :auto-select-first="true"
                                    @input="$v.form.stickSize.$touch()"
                                    @blur="$v.form.stickSize.$touch()"
                                ></v-autocomplete>
                            </v-flex>

                            <v-flex>
                                <v-autocomplete
                                    name="bladeCurve"
                                    v-model="form.bladeCurve"
                                    id="bladeCurve"
                                    :label="$t('bladeSize')"
                                    :items="sizesEnum.STICK.BLADE_CURVE"
                                    :placeholder="$t('chooseBladeSize')"
                                    :error-messages="bladeCurveErrors"
                                    :auto-select-first="true"
                                    @input="$v.form.bladeCurve.$touch()"
                                    @blur="$v.form.bladeCurve.$touch()"
                                ></v-autocomplete>
                            </v-flex>

                            <v-flex>
                                <v-autocomplete
                                    name="bladeSide"
                                    v-model="form.bladeSide"
                                    id="bladeSide"
                                    :label="$t('grip')"
                                    :items="getSelectionItems(sizesEnum.STICK.BLADE_SIDE)"
                                    item-text="text"
                                    item-value="value"
                                    :placeholder="$t('chooseGrip')"
                                    :error-messages="bladeSideErrors"
                                    :auto-select-first="true"
                                    @input="$v.form.bladeSide.$touch()"
                                    @blur="$v.form.bladeSide.$touch()"
                                ></v-autocomplete>
                            </v-flex>

                            <v-flex>
                                <v-autocomplete
                                    name="stickFlex"
                                    v-model="form.stickFlex"
                                    id="stickFlex"
                                    :label="$t('flex')"
                                    :items="sizesEnum.STICK.FLEX"
                                    :placeholder="$t('chooseFlex')"
                                    :error-messages="stickFlexErrors"
                                    :auto-select-first="true"
                                    required
                                    @input="$v.form.stickFlex.$touch()"
                                    @blur="$v.form.stickFlex.$touch()"
                                ></v-autocomplete>
                            </v-flex>
                        </div>
                        <div v-else-if="form.category === 'PANTS'
                            || form.category === 'SHOULDER_PADS'
                            || form.category === 'ELBOW_PADS'"
                        >
                            <v-flex>
                                <v-combobox
                                    name="size"
                                    v-model="form.size"
                                    id="size"
                                    :label="$t('size')"
                                    :items="getSelectionItems(getSizes())"
                                    item-text="text"
                                    item-value="value"
                                    :placeholder="$t('chooseSize')"
                                    :error-messages="sizeErrors"
                                    :auto-select-first="true"
                                    @input="$v.form.size.$touch()"
                                    @blur="$v.form.size.$touch()"
                                ></v-combobox>
                            </v-flex>
                        </div>
                        <div v-else>
                            <v-flex>
                                <v-combobox
                                    name="size"
                                    v-model="form.size"
                                    id="size"
                                    :label="$t('size')"
                                    :items="getSizes()"
                                    item-text="text"
                                    item-value="value"
                                    :placeholder="$t('chooseSize')"
                                    :error-messages="sizeErrors"
                                    :auto-select-first="true"
                                    @input="$v.form.size.$touch()"
                                    @blur="$v.form.size.$touch()"
                                ></v-combobox>
                            </v-flex>
                        </div>

                        <v-flex>
                            <v-checkbox
                                name="isActive"
                                v-model="form.isActive"
                                id="isActive"
                                color="primary"
                                :error-messages="isActiveErrors"
                                @input="$v.form.isActive.$touch()"
                                @blur="$v.form.isActive.$touch()"
                            >
                                <template v-slot:label>
                                    {{ $t('isActive') }}
                                </template>
                            </v-checkbox>
                        </v-flex>

                        <v-divider></v-divider>

                        <div v-if="form.storedImages.length > 0">
                            <h2 class="text-center">{{ $t('activeImages') }}</h2>
                            <v-layout>
                                <v-flex xs12 md4 v-for="(image, i) in form.storedImages" :key="i">
                                    <v-img
                                        class="ma-2"
                                        max-height="300"
                                        contain
                                        :src="getCorrectUrl() + getPreUrl() + image.path + image.name"
                                        @click="addToDeletedImageList(i)"
                                    ></v-img>
                                </v-flex>
                            </v-layout>
                            <v-divider></v-divider>
                        </div>

                        <div v-if="form.deletedImages.length > 0">
                            <h2 class="text-center">{{ $t('inactiveImages') }}</h2>
                            <v-layout>
                                <v-flex xs12 md4 v-for="(image, i) in form.deletedImages" :key="i">
                                    <v-img
                                        class="ma-2"
                                        max-height="300"
                                        contain
                                        :src="getCorrectUrl() + getPreUrl() + image.path + image.name"
                                        @click="addToActiveImageList(i)"
                                    ></v-img>
                                </v-flex>
                            </v-layout>
                            <v-divider></v-divider>
                        </div>

                        <v-layout
                            v-for="(image, i) in $v.form.newImages.$each.$iter"
                            :key="i"
                        >
                            <v-col cols="6">
                                <v-file-input
                                    v-model="image.data.$model"
                                    :label="$t('image')"
                                    accept="image/png, image/jpeg, image/jpg, image/bmp"
                                    :placeholder="$t('chooseImage')"
                                    prepend-icon="mdi-camera"
                                    @change="createImage(i)"
                                    @click:clear="deleteImage(i)"
                                    :error-messages="validateImage(image.data, i)"
                                    clearable
                                ></v-file-input>
                            </v-col>

                            <v-col cols="6">
                                <v-img
                                    max-height="300"
                                    :src="form.newImages[i].preview"
                                ></v-img>
                            </v-col>
                        </v-layout>

                        <v-flex my-5>
                            <v-btn
                                dark
                                small
                                color="success"
                                v-on:click="addImage"
                            >
                                {{ $t(newImageBtn.title) }}
                                <v-icon dark>
                                    {{ newImageBtn.icon }}
                                </v-icon>
                            </v-btn>
                        </v-flex>

                        <v-divider></v-divider>

                        <v-flex mt-5>
                            <v-btn
                                color="primary"
                                type="submit"
                                :loading="loading"
                                :disabled="loading"
                                small
                            >
                                {{ $t('edit') }}
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import { validationMixin } from 'vuelidate';
    import { required, maxLength, minLength, decimal, minValue, maxValue } from 'vuelidate/lib/validators';
    import Alert from '../components/popups/AlertPopup';
    import SubNavigationComp from '../components/SubNavigationComp';
    import ConfirmDialogComp from '../components/ConfirmDialogComp';
    import messageMixin from '../mixins/messageMixin';
    import sizesMixin from '../mixins/sizesMixin';
    import urlMixin from '../mixins/urlMixin';
    import imageMixin from '../mixins/imageMixin';
    import localizationMixin from '../mixins/localizationMixin';
    import arrayMixin from '../mixins/arrayMixin';

    export default {
        mixins: [ validationMixin, messageMixin, sizesMixin, urlMixin, imageMixin, localizationMixin, arrayMixin ],

        validations: {
            form: {
                title: { required, minLength: minLength(3), maxLength: maxLength(256) },
                description: { maxLength: maxLength(4096) },
                price: { decimal, minValue: minValue(0.00), maxValue: maxValue(2000000000.00) },
                category: { required },
                isActive: { },
                state: { required },
                brand: { },
                size: { },
                stickFlex: { },
                bladeCurve: { },
                bladeSide: { },
                stickSize: { },
                skateLength: { },
                skateWidth: { },
                newImages: {
                    $each: {
                        data: {
                            isFileSize(value) {
                                if (!value || value === '' || value === undefined) return true;
                                return (value.size < 5000000);
                            }
                        }
                    }
                },
            },
        },

        components: {
            Alert,
            SubNavigationComp,
            ConfirmDialogComp,
        },

        data: () => ({
            form: {
                id: null,
                title: null,
                description: null,
                price: null,
                category: null,
                isActive: null,
                state: null,
                brand: null,
                size: null,
                stickFlex: null,
                bladeCurve: null,
                bladeSide: null,
                stickSize: null,
                skateLength: null,
                skateWidth: null,
                newImages: [],
                storedImages: [],
                deletedImages: [],
                recaptcha: '',
            },
            errors: {
                title: null,
                description: null,
                price: null,
                category: null,
                isActive: null,
                state: null,
                brand: null,
                size: null,
                stickFlex: null,
                bladeCurve: null,
                bladeSide: null,
                stickSize: null,
                skateLength: null,
                skateWidth: null,
                newImages: null,
                message: null,
                visible: false,
            },
            loading: false,
            isVisible: false,
            eventName: '',
            newImageBtn: { title: 'newImage', icon: 'mdi-plus' },
            navHelperItems: [
                {
                    text: 'navigation.adverts',
                    disabled: false,
                    href: '/adverts',
                },
                {
                    text: 'editAdvert',
                    disabled: true,
                    href: '/editItem/',
                },
            ],
        }),

        computed: {
            titleErrors() {
                const errors = [];
                if (this.errors.title) {
                    errors.push(this.$t(this.errors.title[0]));
                    this.clearArray(this.errors.title);
                }
                if (!this.$v.form.title.$dirty) return errors;
                !this.$v.form.title.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.title.maxLength && errors.push(
                    this.$t('validation.mustBeCharsOrFewer', { num: '256' })
                );
                !this.$v.form.title.minLength && errors.push(
                    this.$t('validation.mustBeAtLeastCharsLong', { num: '3' })
                );
                return errors;
            },
            descriptionErrors() {
                const errors = [];
                if (this.errors.description) {
                    errors.push(this.$t(this.errors.description[0]));
                    this.clearArray(this.errors.description);
                }
                if (!this.$v.form.description.$dirty) return errors;
                !this.$v.form.description.maxLength && errors.push(
                    this.$t('validation.mustBeCharsOrFewer', { num: '4096' })
                );
                return errors;
            },
            priceErrors() {
                const errors = [];
                if (this.errors.price) {
                    errors.push(this.$t(this.errors.price[0]));
                    this.clearArray(this.errors.price);
                }
                if (!this.$v.form.price.$dirty) return errors;
                !this.$v.form.price.decimal && errors.push(this.$t('validation.mayContainOnlyNaturalNumbers'));
                !this.$v.form.price.minValue && errors.push(this.$t('validation.mustBeAPositiveValue'));
                !this.$v.form.price.maxValue && errors.push(this.$t('validation.numberTooLarge'));
                return errors;
            },
            categoryErrors() {
                const errors = [];
                if (this.errors.category) {
                    errors.push(this.$t(this.errors.category[0]));
                    this.clearArray(this.errors.category);
                }
                if (!this.$v.form.category.$dirty) return errors;
                !this.$v.form.category.required && errors.push(this.$t('validation.requiredField'));
                return errors;
            },
            isActiveErrors() {
                const errors = [];
                if (this.errors.isActive) {
                    errors.push(this.$t(this.errors.isActive[0]));
                    this.clearArray(this.errors.isActive);
                }
                if (!this.$v.form.isActive.$dirty) return errors;
                return errors;
            },
            stateErrors() {
                const errors = [];
                if (this.errors.state) {
                    errors.push(this.$t(this.errors.state[0]));
                    this.clearArray(this.errors.state);
                }
                if (!this.$v.form.state.$dirty) return errors;
                !this.$v.form.state.required && errors.push(this.$t('validation.requiredField'));
                return errors;
            },
            brandErrors() {
                const errors = [];
                if (this.errors.brand) {
                    errors.push(this.$t(this.errors.brand[0]));
                    this.clearArray(this.errors.brand);
                }
                if (!this.$v.form.brand.$dirty) return errors;
                return errors;
            },
            skateLengthErrors() {
                const errors = [];
                if (this.errors.skateLength) {
                    errors.push(this.$t(this.errors.skateLength[0]));
                    this.clearArray(this.errors.skateLength);
                }
                if (!this.$v.form.skateLength.$dirty) return errors;
                return errors;
            },
            skateWidthErrors() {
                const errors = [];
                if (this.errors.skateWidth) {
                    errors.push(this.$t(this.errors.skateWidth[0]));
                    this.clearArray(this.errors.skateWidth);
                }
                if (!this.$v.form.skateWidth.$dirty) return errors;
                return errors;
            },
            stickSizeErrors() {
                const errors = [];
                if (this.errors.stickSize) {
                    errors.push(this.$t(this.errors.stickSize[0]));
                    this.clearArray(this.errors.stickSize);
                }
                if (!this.$v.form.stickSize.$dirty) return errors;
                return errors;
            },
            bladeCurveErrors() {
                const errors = [];
                if (this.errors.bladeCurve) {
                    errors.push(this.$t(this.errors.bladeCurve[0]));
                    this.clearArray(this.errors.bladeCurve);
                }
                if (!this.$v.form.bladeCurve.$dirty) return errors;
                return errors;
            },
            bladeSideErrors() {
                const errors = [];
                if (this.errors.bladeSide) {
                    errors.push(this.$t(this.errors.bladeSide[0]));
                    this.clearArray(this.errors.bladeSide);
                }
                if (!this.$v.form.bladeSide.$dirty) return errors;
                return errors;
            },
            stickFlexErrors() {
                const errors = [];
                if (this.errors.stickFlex) {
                    errors.push(this.$t(this.errors.stickFlex[0]));
                    this.clearArray(this.errors.stickFlex);
                }
                if (!this.$v.form.stickFlex.$dirty) return errors;
                return errors;
            },
            sizeErrors() {
                const errors = [];
                if (this.errors.size) {
                    errors.push(this.$t(this.errors.size[0]));
                    this.clearArray(this.errors.size);
                }
                if (!this.$v.form.size.$dirty) return errors;
                return errors;
            },
            ...mapGetters({
                categoriesEnum: 'enums/categories',
                statesEnum: 'enums/states',
                brandsEnum: 'enums/brands',
                sizesEnum: 'enums/sizes',
            }),
        },

        methods: {
            ...mapActions({
                getItemListAction: 'items/getItems',
                setMessageAction: 'message/setMessage',
            }),
            editItem() {
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.errors.message = this.$t('error.errorInData');
                    this.errors.visible = true;
                    this.resetMessageTimeout(10000);
                    this.setMessageAction(
                        { message: this.$t('error.error'), isVisible: true, type: 'error' }
                    );
                } else {
                    this.loading = true;
                    this.removeEmptyImages();
                    this.$recaptcha('editItem').then(token => {
                        this.form.recaptcha = token;
                        this.$http.post('/editItem', this.form).then(response => {
                            this.loading  = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setMessageAction(
                                    { message: this.$t(response.data.message), isVisible: true, type: 'success' }
                                );
                                this.getItemListAction();
                                this.$router.push({ name: 'AdvertsPage' });
                            } else {
                                this.errors.message = response.data.message;
                                this.errors.visible = true;
                                this.setMessageAction(
                                    { message: this.$t(this.errors.message), isVisible: true, type: 'error' }
                                );

                                if (response.data.errors) {
                                    if (response.data.errors.title) {
                                        this.errors.title = response.data.errors.title;
                                    }
                                    if (response.data.errors.description) {
                                        this.errors.description = response.data.errors.description;
                                    }
                                    if (response.data.errors.price) {
                                        this.errors.price = response.data.errors.price;
                                    }
                                    if (response.data.errors.category) {
                                        this.errors.category = response.data.errors.category;
                                    }
                                    if (response.data.errors.isActive) {
                                        this.errors.isActive = response.data.errors.isActive;
                                    }
                                    if (response.data.errors.state) {
                                        this.errors.state = response.data.errors.state;
                                    }
                                    if (response.data.errors.brand) {
                                        this.errors.brand = response.data.errors.brand;
                                    }
                                    if (response.data.errors.size) {
                                        this.errors.size = response.data.errors.size;
                                    }
                                    if (response.data.errors.stickFlex) {
                                        this.errors.stickFlex = response.data.errors.stickFlex;
                                    }
                                    if (response.data.errors.bladeCurve) {
                                        this.errors.bladeCurve = response.data.errors.bladeCurve;
                                    }
                                    if (response.data.errors.bladeSide) {
                                        this.errors.bladeSide = response.data.errors.bladeSide;
                                    }
                                    if (response.data.errors.stickSize) {
                                        this.errors.stickSize = response.data.errors.stickSize;
                                    }
                                    if (response.data.errors.skateLength) {
                                        this.errors.skateLength = response.data.errors.skateLength;
                                    }
                                    if (response.data.errors.skateWidth) {
                                        this.errors.skateWidth = response.data.errors.skateWidth;
                                    }
                                    if (response.data.errors.newImages && response.data.errors.newImages.length > 0) {
                                        this.errors.newImages = response.data.errors.newImages;
                                    }
                                }
                            }
                            this.resetMessageTimeout(10000);
                        }).catch(() => {
                            this.form.recaptcha = '';
                            this.setMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch(() => {
                        this.form.recaptcha = '';
                        this.setMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
            markItem(id) {
                this.loading = true;
                this.$http.get('/markItem/' + id).then(response => {
                    this.loading  = false;
                    if (response.data.success) {
                        this.setMessageAction(
                            { message: this.$t(response.data.message), isVisible: true, type: 'success' }
                        );
                        this.getItemListAction();
                        this.$router.push({ name: 'AdvertsPage' });
                    } else {
                        this.errors.message = response.data.message;
                        this.errors.visible = true;
                        this.setMessageAction(
                            { message: this.$t(this.errors.message), isVisible: true, type: 'error' }
                        );
                    }
                    this.resetMessageTimeout(10000);
                }).catch(() => {
                    this.setMessage(this.$t('error.pleaseTryAgainLater'));
                });
            },
            deleteItem(id) {
                this.loading = true;
                this.$http.get('/deleteItem/' + id).then(response => {
                    this.loading  = false;
                    if (response.data.success) {
                        this.setMessageAction(
                            { message: this.$t(response.data.message), isVisible: true, type: 'success' }
                        );
                        this.getItemListAction();
                        this.$router.push({ name: 'AdvertsPage' });
                    } else {
                        this.errors.message = response.data.message;
                        this.errors.visible = true;
                        this.setMessageAction(
                            { message: this.$t(this.errors.message), isVisible: true, type: 'error' }
                        );
                    }
                    this.resetMessageTimeout(10000);
                }).catch(() => {
                    this.setMessage(this.$t('error.pleaseTryAgainLater'));
                });
            },
            setDialogData(eventName){
                this.isVisible = true;
                this.eventName = eventName;
            },
            prepareDialogData(payload) {
                this.isVisible = false;
                this.eventName = '';

                if (payload.isAccepted) {
                    if (payload.eventName === 'markItem') {
                        this.markItem(this.form.id);
                    } else if (payload.eventName === 'deleteItem') {
                        this.deleteItem(this.form.id);
                    }
                }
            },
        },

        created: function() {
            if (!this.$route.params.id
                || !Number.isInteger(parseInt(this.$route.params.id))
                || parseInt(this.$route.params.id) <= 0
            ) {
                this.setMessageAction(
                    { message: this.$t('error.recordNotFound'), isVisible: true, type: 'error' }
                );
                this.$router.push({ name: 'AdvertsPage' });
            } else {
                this.loading = true;
                this.$http.get('/getItem/' + this.$route.params.id).then(response => {
                    this.loading  = false;
                    if (response.data.success) {
                        this.form.id = response.data.data.item.id;
                        this.form.title = response.data.data.item.title;
                        this.form.description = response.data.data.item.description;
                        this.form.price = response.data.data.item.priceInMinorUnit / 100;
                        this.form.category = response.data.data.item.category;
                        this.form.isActive = response.data.data.item.isActive;
                        this.form.state = response.data.data.item.state;
                        this.form.brand = response.data.data.item.brand;

                        if (response.data.data.item.category === 'SKATES') {
                            this.form.skateLength = response.data.data.item.skateLength
                                + ' - EUR ' + this.sizesEnum.SKATES.LENGTH[response.data.data.item.skateLength].EUR;
                            this.form.skateWidth = response.data.data.item.skateWidth;
                        } else if (response.data.data.item.category === 'STICKS') {
                            this.form.stickSize = response.data.data.item.stickSize;
                            this.form.stickFlex = parseInt(response.data.data.item.stickFlex);
                            this.form.bladeCurve = response.data.data.item.bladeCurve;
                            this.form.bladeSide = response.data.data.item.bladeSide;
                        } else if (response.data.data.item.category === 'PANTS'
                            || response.data.data.item.category === 'SHOULDER_PADS'
                            || response.data.data.item.category === 'ELBOW_PADS'
                        ) {
                            this.form.size = {
                                value: response.data.data.item.size,
                                text: this.$t('enums.' + response.data.data.item.size),
                            };
                        } else {
                            this.form.size = response.data.data.item.size;
                        }

                        response.data.data.item.images.forEach(image => {
                            this.form.storedImages.push( { id: image.id, path: image.path, name: image.name } );
                        });
                    } else {
                        this.setMessageAction(
                            { message: this.$t('error.recordNotFound'), isVisible: true, type: 'error' }
                        );
                        this.$router.push({ name: 'AdvertsPage' });
                    }
                }).catch(() => {
                    this.setMessage(this.$t('error.pleaseTryAgainLater'));
                    this.$router.push({ name: 'AdvertsPage' });
                });
            }
        },
    }
</script>

<style scoped>

</style>
