<template>
    <v-container fluid class="py-4">
        <v-layout wrap>
            <v-col cols="12" md="12">
                <SubNavigationComp :items="navHelperItems" />
            </v-col>

            <ConfirmDialogComp
                v-if="isVisible"
                :title="eventName"
                @data="prepareDialogData"
            />

            <v-flex xs12 sm6 offset-sm3 class="text-right">
                <v-btn v-if="getIsActionAllowed('markUser')"
                    class="ml-2"
                    v-bind:color="form.isConfirmed ? 'error' : 'primary'"
                    dark
                    small
                    v-on:click.prevent="setDialogData('markUser')"
                    :loading="loading"
                    :disabled="loading"
                >
                    {{ form.isConfirmed ? $t('block') : $t('unlock') }}
                    <v-icon
                        dark
                        right
                    >
                        {{ form.isConfirmed ? 'mdi-eye-off' : 'mdi-eye' }}
                    </v-icon>
                </v-btn>
            </v-flex>

            <v-flex xs12 sm6 offset-sm3 class="text-center" mt-5>
                <Alert v-if="errors.visible" :error="errors.message" />

                <h1>{{ $t('editUserData') }}</h1>
            </v-flex>

            <v-flex xs12 sm6 offset-sm3 mt-3>
                <form @submit.prevent="editUser">
                    <v-layout column>
                        <v-flex>
                            <v-text-field
                                name="username"
                                v-model="form.username"
                                id="username"
                                :label="$t('username')"
                                type="text"
                                :error-messages="usernameErrors"
                                :counter="64"
                                required
                                :disabled="!getIsActionAllowed('superAdmin')"
                                @blur="$v.form.username.$touch()"
                            ></v-text-field>
                        </v-flex>
                        <v-flex>
                            <v-text-field
                                name="email"
                                v-model="form.email"
                                id="email"
                                :label="$t('email')"
                                type="email"
                                :error-messages="emailErrors"
                                required
                                :disabled="!getIsActionAllowed('superAdmin')"
                                @blur="$v.form.email.$touch()"
                            ></v-text-field>
                        </v-flex>
                        <v-flex>
                            <v-autocomplete
                                name="language"
                                v-model="form.language"
                                id="language"
                                :label="$t('language')"
                                :items="getSelectionItems(languagesEnum)"
                                item-text="text"
                                item-value="value"
                                :placeholder="$t('chooseLanguage')"
                                :error-messages="languageErrors"
                                :auto-select-first="true"
                                @input="$v.form.language.$touch()"
                                @blur="$v.form.language.$touch()"
                            ></v-autocomplete>
                        </v-flex>
                        <v-flex>
                            <v-checkbox
                                name="isConfirmed"
                                v-model="form.isConfirmed"
                                id="isConfirmed"
                                color="primary"
                                :error-messages="isConfirmedErrors"
                                :disabled="!getIsActionAllowed('markUser')"
                                @input="$v.form.isConfirmed.$touch()"
                                @blur="$v.form.isConfirmed.$touch()"
                            >
                                <template v-slot:label>
                                    {{ $t('isActive') }}
                                </template>
                            </v-checkbox>
                        </v-flex>
                        <v-divider></v-divider>
                        <v-flex>
                            <v-autocomplete
                                name="roles"
                                v-model="form.roles"
                                id="roles"
                                :label="$t('allowedRoles')"
                                :items="getVisibleRoles"
                                :placeholder="$t('chooseRoles')"
                                :error-messages="roleErrors"
                                :auto-select-first="true"
                                multiple
                                small-chips
                                @input="$v.form.roles.$touch()"
                                @blur="$v.form.roles.$touch()"
                            ></v-autocomplete>
                        </v-flex>
                        <v-flex mt-5>
                            <v-btn
                                color="primary"
                                type="submit"
                                :loading="loading"
                                :disabled="loading"
                                small
                            >
                                {{ $t('edit') }}
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import { validationMixin } from 'vuelidate';
    import { required, maxLength, minLength, email } from 'vuelidate/lib/validators';
    import Alert from '../components/popups/AlertPopup';
    import SubNavigationComp from '../components/SubNavigationComp';
    import ConfirmDialogComp from '../components/ConfirmDialogComp';
    import messageMixin from '../mixins/messageMixin';
    import userRoleMixin from '../mixins/userRoleMixin';
    import localizationMixin from '../mixins/localizationMixin';
    import arrayMixin from '../mixins/arrayMixin';

    export default {
        mixins: [ validationMixin, messageMixin, userRoleMixin, localizationMixin, arrayMixin ],

        validations: {
            form: {
                username: { required, minLength: minLength(3), maxLength: maxLength(64),
                    isUnique(value) {
                        if (value === '') return true;
                        if (value === this.form.originalUsername) return true;
                        return new Promise((resolve) => {
                            if (this.usernameAvailabilityTimer) {
                                clearTimeout(this.usernameAvailabilityTimer)
                                this.usernameAvailabilityTimer = null
                            }
                            this.usernameAvailabilityTimer = setTimeout(() => {
                                resolve(this.isUsernameAvailable());
                            }, 500);
                        });
                    }
                },
                email: { required, email, maxLength: maxLength(256),
                    isUnique(value) {
                        if (value === '') return true;
                        if (value === this.form.originalEmail) return true;
                        return new Promise((resolve) => {
                            if (this.emailAvailabilityTimer) {
                                clearTimeout(this.emailAvailabilityTimer)
                                this.emailAvailabilityTimer = null
                            }
                            this.emailAvailabilityTimer = setTimeout(() => {
                                resolve(this.isEmailAvailable());
                            }, 500);
                        });
                    }
                },
                language: { required },
                isConfirmed: { },
                roles: { },
            },
        },

        components: {
            Alert,
            SubNavigationComp,
            ConfirmDialogComp,
        },

        data: () => ({
            form: {
                id: null,
                username: null,
                originalUsername: null,
                email: null,
                originalEmail: null,
                language: null,
                isConfirmed: null,
                roles: [],
                recaptcha: '',
            },
            errors: {
                username: null,
                email: null,
                language: null,
                isConfirmed: null,
                roles: null,
                message: null,
                visible: false,
            },
            loading: false,
            isVisible: false,
            eventName: '',
            usernameAvailabilityTimer: null,
            emailAvailabilityTimer: null,
            navHelperItems: [
                {
                    text: 'navigation.home',
                    disabled: false,
                    href: '/',
                },
                {
                    text: 'navigation.controlPanel',
                    disabled: false,
                    href: '/acp',
                },
                {
                    text: 'editUserData',
                    disabled: true,
                    href: '/editUser/',
                },
            ],
        }),

        computed: {
            usernameErrors() {
                const errors = [];
                if (this.errors.username) {
                    errors.push(this.$t(this.errors.username[0]));
                    this.clearArray(this.errors.username);
                }
                if (!this.$v.form.username.$dirty) return errors;
                !this.$v.form.username.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.username.maxLength && errors.push(
                    this.$t('validation.mustBeCharsOrFewer', { num: '64' })
                );
                !this.$v.form.username.minLength && errors.push(
                    this.$t('validation.mustBeAtLeastCharsLong', { num: '3' })
                );
                !this.$v.form.username.isUnique && errors.push(this.$t('validation.usernameAlreadyExists'));
                return errors;
            },
            emailErrors() {
                const errors = [];
                if (this.errors.email) {
                    errors.push(this.$t(this.errors.email[0]));
                    this.clearArray(this.errors.email);
                }
                if (!this.$v.form.email.$dirty) return errors;
                !this.$v.form.email.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.email.email && errors.push(this.$t('validation.invalidEmail'));
                !this.$v.form.email.maxLength && errors.push(
                    this.$t('validation.mustBeCharsOrFewer', { num: '256' })
                );
                !this.$v.form.email.isUnique && errors.push(this.$t('validation.emailAlreadyExists'));
                return errors;
            },
            languageErrors() {
                const errors = [];
                if (this.errors.language) {
                    errors.push(this.$t(this.errors.language[0]));
                    this.clearArray(this.errors.language);
                }
                if (!this.$v.form.language.$dirty) return errors;
                !this.$v.form.language.required && errors.push(this.$t('validation.requiredField'));
                return errors;
            },
            isConfirmedErrors() {
                const errors = [];
                if (this.errors.isConfirmed) {
                    errors.push(this.$t(this.errors.isConfirmed[0]));
                    this.clearArray(this.errors.isConfirmed);
                }
                if (!this.$v.form.isConfirmed.$dirty) return errors;
                return errors;
            },
            roleErrors() {
                const errors = [];
                if (this.errors.roles) {
                    errors.push(this.$t(this.errors.roles[0]));
                    this.clearArray(this.errors.roles);
                }
                if (!this.$v.form.roles.$dirty) return errors;
                return errors;
            },
            ...mapGetters({
                allRoles: 'auth/allRoles',
                roles: 'auth/roles',
                languagesEnum: 'enums/languages',
            }),
        },

        methods: {
            ...mapActions({
                setMessageAction: 'message/setMessage',
                getAllRolesListAction: 'auth/getAllRoles',
            }),
            editUser() {
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.errors.message = this.$t('error.errorInData');
                    this.errors.visible = true;
                    this.setMessageAction(
                        { message: this.$t('error.error'), isVisible: true, type: 'error' }
                    );
                    this.resetMessageTimeout(10000);
                } else {
                    this.loading = true;
                    this.$recaptcha('editUser').then(token => {
                        this.form.recaptcha = token;
                        this.$http.post('/editUser', this.form).then((response) => {
                            this.loading  = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setMessageAction(
                                    { message: this.$t(response.data.message), isVisible: true, type: 'success' }
                                );
                                this.$router.push({ name: 'AdminControlPanelPage' });
                            } else {
                                this.errors.message = response.data.message;
                                this.errors.visible = true;
                                this.setMessageAction(
                                    { message: this.$t(this.errors.message), isVisible: true, type: 'error' }
                                );

                                if (response.data.errors) {
                                    if (response.data.errors.username) {
                                        this.errors.username = response.data.errors.username;
                                    }
                                    if (response.data.errors.email) {
                                        this.errors.email = response.data.errors.email;
                                    }
                                    if (response.data.errors.language) {
                                        this.errors.language = response.data.errors.language;
                                    }
                                    if (response.data.errors.isConfirmed) {
                                        this.errors.isConfirmed = response.data.errors.isConfirmed;
                                    }
                                    if (response.data.errors.roles) {
                                        this.errors.roles = response.data.errors.roles;
                                    }
                                }
                            }
                            this.resetMessageTimeout(10000);
                        }).catch(() => {
                            this.form.recaptcha = '';
                            this.setMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch(() => {
                        this.form.recaptcha = '';
                        this.setMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
            markUser(id) {
                this.loading = true;
                this.$http.get('/markUser/' + id).then(response => {
                    this.loading  = false;
                    if (response.data.success) {
                        this.setMessageAction(
                            { message: this.$t(response.data.message), isVisible: true, type: 'success' }
                        );
                        this.$router.push({ name: 'AdminControlPanelPage' });
                    } else {
                        this.errors.message = response.data.message;
                        this.errors.visible = true;
                        this.setMessageAction(
                            { message: this.$t(this.errors.message), isVisible: true, type: 'error' }
                        );
                    }
                    this.resetMessageTimeout(10000);
                }).catch(() => {
                    this.setMessage(this.$t('error.pleaseTryAgainLater'));
                });
            },
            async isEmailAvailable() {
                if (this.form.email === '') return true;
                const response = await this.$http.post('/checkEmailAvailability', this.form).then((response) => {
                    return response.data.data.available;
                }).catch(() => {
                    this.loading = true;
                    this.errors.message = this.$t('error.pleaseTryAgainLater');
                    this.errors.visible = true;
                });
                return Boolean(await response);
            },
            async isUsernameAvailable() {
                if (this.form.username === '') return true;
                const response = await this.$http.post('/checkUsernameAvailability', this.form).then((response) => {
                    return response.data.data.available;
                }).catch(() => {
                    this.loading = true;
                    this.errors.message = this.$t('error.pleaseTryAgainLater');
                    this.errors.visible = true;
                });
                return Boolean(await response);
            },
            setDialogData(eventName){
                this.isVisible = true;
                this.eventName = eventName;
            },
            prepareDialogData(payload) {
                this.isVisible = false;
                this.eventName = '';

                if (payload.isAccepted) {
                    if (payload.eventName === 'markUser') {
                        this.markUser(this.form.id);
                    }
                }
            },
        },

        created: function() {
            if (!this.$route.params.id
                || !Number.isInteger(parseInt(this.$route.params.id))
                || parseInt(this.$route.params.id) <= 0
            ) {
                this.setMessageAction(
                    { message: this.$t('error.userNotFound'), isVisible: true, type: 'error' }
                );
                this.$router.push({ name: 'AdminControlPanelPage' });
            } else {
                this.loading = true;
                this.$http.get('/getUser/' + this.$route.params.id).then(response => {
                    this.loading  = false;
                    if (response.data.success) {
                        this.form.id = response.data.data.user.id;
                        this.form.username = response.data.data.user.username;
                        this.form.originalUsername = response.data.data.user.username;
                        this.form.email = response.data.data.user.email;
                        this.form.originalEmail = response.data.data.user.email;
                        this.form.language = response.data.data.user.language;
                        this.form.isConfirmed = response.data.data.user.confirmed;

                        this.form.roles = [];
                        response.data.data.user.roles.forEach(record => {
                            this.form.roles.push( record.role );
                        });
                    } else {
                        this.setMessageAction(
                            { message: this.$t('error.userNotFound'), isVisible: true, type: 'error' }
                        );
                        this.$router.push({ name: 'AdminControlPanelPage' });
                    }
                }).catch(() => {
                    this.setMessage(this.$t('error.pleaseTryAgainLater'));
                    this.$router.push({ name: 'AdminControlPanelPage' });
                });
            }
            this.getAllRolesListAction();
        },
    }
</script>

<style scoped>

</style>
