<template>
    <v-container fluid class="py-16">
        <v-layout wrap>
            <v-flex xs12 sm6 offset-sm3 class="text-center" mt-5>
                <Alert v-if="errors.visible" :error="errors.message" />

                <h1>{{ $t('authentication') }}</h1>
            </v-flex>
            <v-flex xs12 sm6 offset-sm3 mt-3>
                <form @submit.prevent="signin">
                <v-layout column>
                    <v-flex>
                        <v-text-field
                            name="email"
                            v-model="form.email"
                            id="email"
                            :label="$t('emailOrUsername')"
                            type="text"
                            :error-messages="emailErrors"
                            required
                            @input="$v.form.email.$touch()"
                            @blur="$v.form.email.$touch()"
                            ></v-text-field>
                    </v-flex>
                    <v-flex>
                        <v-text-field
                            name="password"
                            v-model="form.password"
                            id="password"
                            :label="$t('password')"
                            type="password"
                            :error-messages="passwordErrors"
                            required
                            @input="$v.form.password.$touch()"
                            @blur="$v.form.password.$touch()"
                            ></v-text-field>
                    </v-flex>
                    <v-flex class="text-xs-center" mt-5>
                        <v-btn
                            color="primary"
                            type="submit"
                            :loading="loading"
                            :disabled="loading"
                            small
                        >
                            {{ $t('navigation.login') }}
                        </v-btn>
                    </v-flex>
                </v-layout>
                </form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import { mapActions } from 'vuex';
    import { validationMixin } from 'vuelidate';
    import { required } from 'vuelidate/lib/validators';
    import Alert from '../components/popups/AlertPopup';
    import messageMixin from '../mixins/messageMixin';

    export default {
        name: 'LoginPage',

        mixins: [ validationMixin, messageMixin ],

        validations: {
            form: {
                email: { required },
                password: { required },
            },
        },

        components: {
            Alert,
        },

        data: () => ({
            form: {
                email: '',
                password: '',
                recaptcha: '',
            },
            errors: {
                message: null,
                visible: false,
            },
            loading: false,
        }),

        computed: {
            emailErrors () {
                const errors = [];
                if (!this.$v.form.email.$dirty) return errors;
                !this.$v.form.email.required && errors.push(this.$t('validation.requiredField'));
                return errors;
            },
            passwordErrors () {
                const errors = [];
                if (!this.$v.form.password.$dirty) return errors;
                !this.$v.form.password.required && errors.push(this.$t('validation.requiredField'));
                return errors;
            },
        },

        methods: {
            ...mapActions({
                signInAction: 'auth/login',
                setMessageAction: 'message/setMessage',
            }),
            signin() {
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.errors.message = this.$t('error.errorInData');
                    this.errors.visible = true;
                    this.resetMessageTimeout(10000);
                    this.setMessageAction(
                        { message: this.$t('error.error'), isVisible: true, type: 'error' }
                    );
                } else {
                    this.loading = true;
                    this.$recaptcha('login').then(token => {
                        this.form.recaptcha = token;
                        this.$http.post('/login', this.form).then(response => {
                            this.loading  = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setAuthToken(
                                    response.data.accessToken,
                                    response.data.tokenType,
                                    response.data.expiresIn
                                );
                                this.setMessageAction(
                                    { message: this.$t('authenticationSuccessful'), isVisible: true, type: 'success' }
                                );
                                this.signInAction();
                                this.$router.push({ name: 'HomePage' });
                            } else {
                                this.errors.message = response.data.message;
                                this.errors.visible = true;
                                this.setMessageAction(
                                    { message: this.$t(this.errors.message), isVisible: true, type: 'error' }
                                );
                            }
                            this.resetMessageTimeout(10000);
                        }).catch(() => {
                            this.form.recaptcha = '';
                            this.setMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch(() => {
                        this.form.recaptcha = '';
                        this.setMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
            setAuthToken(token, tokenType, expiresIn) {
                if (this.$cookies.isKey('token') || this.$cookies.isKey('tokenType')) {
                    this.$cookies.remove('token');
                    this.$cookies.remove('tokenType');
                }
                this.$cookies.set('token', token, expiresIn);
                this.$cookies.set('tokenType', tokenType, expiresIn);
            },
        },
    }
</script>

<style scoped>

</style>
