<template>
    <v-container fluid grid-list-md>
        <v-layout wrap class="mt-4">
            <v-col cols="12" md="12">
                <SubNavigationComp :items="navHelperItems" />
            </v-col>

            <v-col cols="12" offset-md="4" md="4">
                <v-flex class="text-center">
                    <h1>{{ $t('navigation.messages') }}</h1>
                </v-flex>
            </v-col>

            <v-col cols="12" md="4" class="d-flex justify-end">
                <v-btn v-if="authenticated && getIsActionVisible(refreshMessagesBtn)"
                    class="mx-2"
                    fab
                    dark
                    color="info"
                    elevation="3"
                    small
                    v-on:click.prevent="refreshMessagesData"
                    :loading="isMessagesLoading"
                    :disabled="isMessagesLoading"
                >
                    <div class="hidden-sm-and-down">{{ refreshMessagesBtn.title }}</div>
                    <v-icon>
                        {{ refreshMessagesBtn.icon }}
                    </v-icon>
                </v-btn>
            </v-col>

            <v-col v-if="isMessagesLoading" cols="12" md="12">
                <v-flex class="text-center">
                    <v-progress-circular
                        :size="40"
                        color="primary"
                        indeterminate
                    ></v-progress-circular>
                </v-flex>
            </v-col>

            <v-col v-else-if="!messageList.length" cols="12" md="12">
                <v-flex class="text-center">
                    <h3>{{ $t('noMessages') }}</h3>
                </v-flex>
            </v-col>

            <v-col v-else>
                <v-flex v-if="applyForRepairList.length" xs12 offset-md2 md8>
                    <h3 class="mb-2">{{ $t('enums.APPLY_FOR_REPAIR') }}</h3>
                    <ListComp :messages="applyForRepairList"/>
                </v-flex>

                <v-flex v-if="applyForItemList.length" xs12 offset-md2 md8>
                    <h3 class="mb-2">{{ $t('enums.APPLY_FOR_ITEM') }}</h3>
                    <ListComp :messages="applyForItemList"/>
                </v-flex>

                <v-flex v-if="questionList.length" xs12 offset-md2 md8>
                    <h3 class="mb-2">{{ $t('enums.QUESTION') }}</h3>
                    <ListComp :messages="questionList"/>
                </v-flex>

                <v-flex v-if="otherMessageList.length" xs12 offset-md2 md8>
                    <h3 class="mb-2">{{ $t('enums.OTHER') }}</h3>
                    <ListComp :messages="otherMessageList"/>
                </v-flex>
            </v-col>
        </v-layout>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import ListComp from '../components/ListComp';
    import SubNavigationComp from '../components/SubNavigationComp';
    import userRoleMixin from '../mixins/userRoleMixin';

    export default {
        mixins: [ userRoleMixin ],

        components: {
            ListComp,
            SubNavigationComp,
        },

        data: () => ({
            refreshMessagesBtn: { title: '', path: '', icon: 'mdi-cached', role: 'replyOnMessages' },
            navHelperItems: [
                {
                    text: 'navigation.home',
                    disabled: false,
                    href: '/',
                },
                {
                    text: 'navigation.messages',
                    disabled: true,
                    href: '/messages',
                },
            ],
        }),

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                roles: 'auth/roles',
                messageList: 'messages/messageList',
                unreadMessageCount: 'messages/unreadMessageCount',
                isMessagesLoading: 'messages/isLoading',
            }),
            applyForRepairList() {
                if (!Array.isArray(this.messageList)) {
                    return [];
                }
                return this.messageList.filter((message) =>
                    message.option === 'APPLY_FOR_REPAIR'
                );
            },
            applyForItemList() {
                if (!Array.isArray(this.messageList)) {
                    return [];
                }
                return this.messageList.filter((message) =>
                    message.option === 'APPLY_FOR_ITEM'
                );
            },
            questionList() {
                if (!Array.isArray(this.messageList)) {
                    return [];
                }
                return this.messageList.filter((message) =>
                    message.option === 'QUESTION'
                );
            },
            otherMessageList() {
                if (!Array.isArray(this.messageList)) {
                    return [];
                }
                return this.messageList.filter((message) =>
                    message.option === 'OTHER'
                );
            },
        },

        methods: {
            ...mapActions({
                setMessageAction: 'message/setMessage',
                getMessagesListAction: 'messages/getMessages',
            }),
            refreshMessagesData() {
                this.getMessagesListAction().then(() => {
                    this.setMessageAction(
                        { message: this.$t('dataUpdated'), isVisible: true, type: 'success' }
                    );
                }).catch(() => {
                    this.setMessageAction(
                        { message: this.$t('error.error'), isVisible: true, type: 'error' }
                    );
                });
            },
        },

        created: function() {
            this.getMessagesListAction();
        },
    }
</script>

<style scoped>

</style>
