<template>
    <v-container fluid class="py-4">
        <v-layout wrap>
            <v-col cols="12" md="12">
                <SubNavigationComp :items="navHelperItems" />
            </v-col>

            <v-flex xs12 sm6 offset-sm3 class="text-center" mt-5>
                <Alert v-if="errors.visible" :error="errors.message" />

                <h1>{{ $t('changePassword') }}</h1>
            </v-flex>

            <v-flex xs12 sm6 offset-sm3 mt-3>
                <form @submit.prevent="newPass">
                    <v-layout column>
                        <v-flex>
                            <v-text-field
                                name="currentPassword"
                                v-model="form.currentPassword"
                                id="currentPassword"
                                :label="$t('currentPassword')"
                                type="password"
                                :error-messages="currentPasswordErrors"
                                required
                                @blur="$v.form.currentPassword.$touch()"
                            ></v-text-field>
                        </v-flex>

                        <v-flex>
                            <v-text-field
                                name="newPassword"
                                v-model="form.newPassword"
                                id="newPassword"
                                :label="$t('newPassword')"
                                type="password"
                                :error-messages="newPasswordErrors"
                                required
                                @input="$v.form.newPassword.$touch()"
                                @blur="$v.form.newPassword.$touch()"
                            ></v-text-field>
                        </v-flex>

                        <v-flex>
                            <v-text-field
                                name="newPassword_confirmation"
                                v-model="form.newPassword_confirmation"
                                id="newPassword_confirmation"
                                :label="$t('newPasswordRepeatedly')"
                                type="password"
                                :error-messages="confirmNewPasswordErrors"
                                required
                                @input="$v.form.newPassword_confirmation.$touch()"
                                @blur="$v.form.newPassword_confirmation.$touch()"
                            ></v-text-field>
                        </v-flex>

                        <v-flex mt-5>
                            <v-btn
                                color="primary"
                                type="submit"
                                :loading="loading"
                                :disabled="loading"
                                small
                            >
                                {{ $t('change') }}
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import { validationMixin } from 'vuelidate';
    import { required, maxLength, minLength, sameAs, not } from 'vuelidate/lib/validators';
    import Alert from '../components/popups/AlertPopup';
    import SubNavigationComp from '../components/SubNavigationComp';
    import messageMixin from '../mixins/messageMixin';
    import arrayMixin from '../mixins/arrayMixin';

    export default {
        mixins: [ validationMixin, messageMixin, arrayMixin ],

        validations: {
            form: {
                currentPassword: { required, minLength: minLength(8), maxLength: maxLength(1024),
                    isPasswordCorrect(value) {
                        if (value === '') return true;
                        return new Promise((resolve) => {
                            if (this.availabilityTimer) {
                                clearTimeout(this.availabilityTimer)
                                this.availabilityTimer = null
                            }
                            this.availabilityTimer = setTimeout(() => {
                                resolve(this.isPasswordCorrect());
                            }, 500);
                        });
                    }
                },
                newPassword: {
                    required,
                    minLength: minLength(8),
                    maxLength: maxLength(1024),
                    notSameAsCurrentPassword: not(sameAs('currentPassword'))
                },
                newPassword_confirmation: {
                    required,
                    minLength: minLength(8),
                    sameAsPassword: sameAs('newPassword')
                },
            },
        },

        components: {
            Alert,
            SubNavigationComp,
        },

        data: () => ({
            form: {
                id: null,
                currentPassword: '',
                newPassword: '',
                newPassword_confirmation: '',
                recaptcha: '',
            },
            errors: {
                currentPassword: null,
                newPassword: null,
                message: null,
                visible: false,
            },
            loading: false,
            availabilityTimer: null,
            navHelperItems: [
                {
                    text: 'navigation.home',
                    disabled: false,
                    href: '/',
                },
                {
                    text: 'account',
                    disabled: false,
                    href: '/account',
                },
                {
                    text: 'changePassword',
                    disabled: true,
                    href: '/newPass',
                },
            ],
        }),

        computed: {
            currentPasswordErrors() {
                const errors = [];
                if (this.errors.currentPassword) {
                    errors.push(this.$t(this.errors.currentPassword[0]));
                    this.clearArray(this.errors.currentPassword);
                }
                if (!this.$v.form.currentPassword.$dirty) return errors;
                !this.$v.form.currentPassword.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.currentPassword.minLength && errors.push(
                    this.$t('validation.mustBeAtLeastCharsLong', { num: '8' })
                );
                !this.$v.form.currentPassword.maxLength && errors.push(
                    this.$t('validation.mustBeCharsOrFewer', { num: '1024' })
                );
                !this.$v.form.currentPassword.isPasswordCorrect && errors.push(
                    this.$t('validation.passwordIsIncorrect')
                );
                return errors;
            },
            newPasswordErrors() {
                const errors = [];
                if (this.errors.newPassword) {
                    errors.push(this.$t(this.errors.newPassword[0]));
                    this.clearArray(this.errors.newPassword);
                }
                if (!this.$v.form.newPassword.$dirty) return errors;
                !this.$v.form.newPassword.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.newPassword.minLength && errors.push(
                    this.$t('validation.mustBeAtLeastCharsLong', { num: '8' })
                );
                !this.$v.form.newPassword.maxLength && errors.push(
                    this.$t('validation.mustBeCharsOrFewer', { num: '1024' })
                );
                !this.$v.form.newPassword.notSameAsCurrentPassword && errors.push(
                    this.$t('validation.mustNotBeTheSame')
                );
                return errors;
            },
            confirmNewPasswordErrors() {
                const errors = [];
                if (!this.$v.form.newPassword_confirmation.$dirty) return errors;
                !this.$v.form.newPassword_confirmation.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.newPassword_confirmation.minLength && errors.push(
                    this.$t('validation.mustBeAtLeastCharsLong', { num: '8' })
                );
                !this.$v.form.newPassword_confirmation.sameAsPassword && errors.push(
                    this.$t('validation.passwordsDoNotMatch')
                );
                return errors;
            },
            ...mapGetters({
                authenticated: 'auth/authenticated',
                user: 'auth/user',
            }),
        },

        methods: {
            ...mapActions({
                refreshUserDataAction: 'auth/login',
                setMessageAction: 'message/setMessage',
            }),
            newPass() {
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.errors.message = this.$t('error.errorInData');
                    this.errors.visible = true;
                    this.resetMessageTimeout(10000);
                    this.setMessageAction(
                        { message: this.$t('error.error'), isVisible: true, type: 'error' }
                    );
                } else {
                    this.loading = true;
                    this.$recaptcha('newPass').then(token => {
                        this.form.recaptcha = token;
                        this.form.id = this.user.id;
                        this.$http.post('/newPass', this.form).then(response => {
                            this.loading  = false;
                            this.form.recaptcha = '';
                            this.form.id = '';
                            if (response.data.success) {
                                this.setMessageAction(
                                    { message: this.$t(response.data.message), isVisible: true, type: 'success' }
                                );
                                this.refreshUserDataAction();
                                this.$router.push({ name: 'AccountPage' });
                            } else {
                                this.errors.message = response.data.message;
                                this.errors.visible = true;
                                this.setMessageAction(
                                    { message: this.$t(this.errors.message), isVisible: true, type: 'error' }
                                );

                                if (response.data.errors) {
                                    if (response.data.errors.currentPassword) {
                                        this.errors.currentPassword = response.data.errors.currentPassword;
                                    }
                                    if (response.data.errors.newPassword) {
                                        this.errors.newPassword = response.data.errors.newPassword;
                                    }
                                }
                            }
                            this.resetMessageTimeout(10000);
                        }).catch(() => {
                            this.form.recaptcha = '';
                            this.form.id = '';
                            this.setMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch(() => {
                        this.form.recaptcha = '';
                        this.form.id = '';
                        this.setMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
            async isPasswordCorrect() {
                if (this.form.currentPassword === '') {
                    return true;
                }

                this.form.id = this.user.id;
                const response = await this.$http.post('/checkPasswordMatch', this.form).then((response) => {
                    this.form.id = '';
                    return response.data.data.match;
                }).catch(() => {
                    this.form.id = '';
                    this.setMessage(this.$t('error.pleaseTryAgainLater'));
                });
                return Boolean(await response);
            },
        },

        created: function() {
            if (!this.authenticated) {
                this.setMessageAction(
                    { message: this.$t('error.userNotFound'), isVisible: true, type: 'error' }
                );
                this.$router.push({ name: 'HomePage' });
            }
        },
    }
</script>

<style scoped>

</style>
