<template>
    <v-app id="error">
        <v-container fluid fill-height>
            <v-layout align-center justify-center row>
                <div class="text-center">
                    <h1 class="errorCode">404</h1>
                    <h2 class="my-3 headline">
                        {{ $t('error.pageNotFound') }}
                    </h2>
                    <v-btn color="secondary" @click="redirect()">
                        {{ $t('goToHomepage') }}
                    </v-btn>
                </div>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
    export default {
        data: () => ({
            timer: null,
        }),

        methods: {
            redirect() {
                this.$router.push({ name: 'HomePage' }).catch(() => {});
            },
        },

        created: function() {
            this.timer = setTimeout(() => {
                this.redirect();
            }, 8000);
        },

        destoyed: function() {
            clearInterval( this.timer );
        },
    }
</script>

<style>
    .errorCode {
        text-align: center;
        vertical-align: middle;
        font-size: 150px;
        line-height: 150px;
        font-weight: 800;
        color: #424242 ;
        text-shadow: rgba(61,61,61,.3) 1px 1px, rgba(61,61,61,.2) 2px 2px, rgba(61,61,61,.3) 3px 3px;
    }
</style>
