<template>
    <v-container fluid class="py-4">
        <v-layout wrap>
            <v-col cols="12" md="12">
                <SubNavigationComp :items="navHelperItems" />
            </v-col>

            <v-flex xs12 sm6 offset-sm3 class="text-center" mt-5>
                <Alert v-if="errors.visible" :error="errors.message" />

                <h1>{{ $t('messageContent') }}</h1>
            </v-flex>

            <v-col cols="12" offset-md="3" md="6" class="my-5">
                <v-row no-gutters>
                    <v-col cols="4">
                        <p class="font-weight-regular">
                            {{ $t('typeOfMessage') }}
                        </p>
                    </v-col>
                    <v-col cols="8">
                        <p class="font-weight-bold">
                            {{ data.option }}
                        </p>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col cols="4">
                        <p class="font-weight-regular">
                            {{ $t('customer') }}
                        </p>
                    </v-col>
                    <v-col cols="8">
                        <p class="font-weight-bold">
                            {{ data.name }}
                        </p>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col cols="4">
                        <p class="font-weight-regular">
                            {{ $t('email') }}
                        </p>
                    </v-col>
                    <v-col cols="8">
                        <p class="font-weight-bold">
                            {{ data.email }}
                        </p>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col cols="4">
                        <p class="font-weight-regular">
                            {{ $t('phoneNumber') }} ({{ data.phoneCountry }})
                        </p>
                    </v-col>
                    <v-col cols="8">
                        <p class="font-weight-bold">
                            {{ data.phoneNumber }}
                        </p>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col cols="4">
                        <p class="font-weight-regular">
                            {{ $t('description') }}
                        </p>
                    </v-col>
                    <v-col cols="8">
                        <p class="font-weight-bold">
                            {{ data.description }}
                        </p>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col cols="4">
                        <p class="font-weight-regular">
                            {{ $t('posted') }}
                        </p>
                    </v-col>
                    <v-col cols="8">
                        <p class="font-weight-bold">
                            <time-ago locale="en" :datetime="data.createdAt"></time-ago>
                        </p>
                    </v-col>
                </v-row>
            </v-col>

            <v-flex offset-md3 md6 xs12>
                <v-divider></v-divider>
            </v-flex>

            <v-flex
                v-if="data.replies.length"
                xs12
                sm6
                offset-sm3
                class="text-center"
                mt-8
            >
                <h1>{{ $t('responses') }}</h1>
            </v-flex>

            <v-flex xs12
                v-for="(reply, index) in data.replies"
                :key="index"
            >
                <v-col cols="12" offset-md="3" md="6" class="my-5">
                    <v-row no-gutters>
                        <v-col cols="4">
                            <p class="font-weight-regular">
                                {{ $t('description') }} #{{ index + 1 }}
                            </p>
                        </v-col>
                        <v-col cols="8">
                            <p class="font-weight-bold">
                                {{ reply.description }}
                            </p>
                        </v-col>

                        <v-col cols="4">
                            <p class="font-weight-regular">
                                {{ $t('answered') }}
                            </p>
                        </v-col>
                        <v-col cols="8">
                            <p class="font-weight-bold">
                                <time-ago locale="en" :datetime="reply.createdAt"></time-ago>
                            </p>
                        </v-col>
                    </v-row>
                </v-col>

                <v-flex offset-md3 md6 xs12>
                    <v-divider></v-divider>
                </v-flex>
            </v-flex>

            <v-flex xs12 sm6 offset-sm3 class="text-center" mt-8>
                <h1>{{ $t('addResponse') }}</h1>
            </v-flex>

            <v-flex xs12 sm6 offset-sm3 mt-5>
                <form @submit.prevent="reply">
                    <v-layout column>
                        <v-flex>
                            <v-textarea
                                solo
                                name="newReplyText"
                                v-model="form.newReplyText"
                                id="newReplyText"
                                :label="$t('description')"
                                :error-messages="replyTextErrors"
                                @input="$v.form.newReplyText.$touch()"
                                @blur="$v.form.newReplyText.$touch()"
                            ></v-textarea>
                        </v-flex>
                        <v-flex>
                            <v-btn
                                color="primary"
                                type="submit"
                                :loading="loading"
                                :disabled="loading || !getIsActionAllowed('replyOnMessages')"
                                small
                            >
                                {{ $t('answer') }}
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import { validationMixin } from 'vuelidate';
    import { required, maxLength, minLength } from 'vuelidate/lib/validators';
    import Alert from '../components/popups/AlertPopup';
    import SubNavigationComp from '../components/SubNavigationComp';
    import { TimeAgo } from 'vue2-timeago';
    import messageMixin from '../mixins/messageMixin';
    import userRoleMixin from '../mixins/userRoleMixin';
    import arrayMixin from '../mixins/arrayMixin';

    export default {
        mixins: [ validationMixin, messageMixin, userRoleMixin, arrayMixin ],

        validations: {
            form: {
                newReplyText: { required, minLength: minLength(3), maxLength: maxLength(4096) },
            },
        },

        components: {
            Alert,
            TimeAgo,
            SubNavigationComp,
        },

        data: () => ({
            form: {
                id: null,
                newReplyText: '',
                recaptcha: '',
            },
            data: {
                option: null,
                name: null,
                email: null,
                phoneNumber: null,
                phoneCountry: null,
                description: null,
                createdAt: null,
                replies: [],
            },
            errors: {
                newReplyText: null,
                message: null,
                visible: false,
            },
            loading: false,
            navHelperItems: [
                {
                    text: 'navigation.home',
                    disabled: false,
                    href: '/',
                },
                {
                    text: 'navigation.messages',
                    disabled: false,
                    href: '/messages',
                },
                {
                    text: 'messageContent',
                    disabled: true,
                    href: '/viewMessage/',
                },
            ],
        }),

        computed: {
            replyTextErrors() {
                const errors = [];
                if (this.errors.newReplyText) {
                    errors.push(this.$t(this.errors.newReplyText[0]));
                    this.clearArray(this.errors.newReplyTex);
                }
                if (!this.$v.form.newReplyText.$dirty) return errors;
                !this.$v.form.newReplyText.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.newReplyText.minLength && errors.push(
                    this.$t('validation.mustBeAtLeastCharsLong', { num: '3' })
                );
                !this.$v.form.newReplyText.maxLength && errors.push(
                    this.$t('validation.mustBeCharsOrFewer', { num: '4096' })
                );
                return errors;
            },
            ...mapGetters({
                roles: 'auth/roles',
            }),
        },

        methods: {
            ...mapActions({
                setMessageAction: 'message/setMessage',
                getMessagesListAction: 'messages/getMessages',
            }),
            reply() {
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.errors.message = this.$t('error.errorInData');
                    this.errors.visible = true;
                    this.setMessageAction(
                        { message: this.$t('error.error'), isVisible: true, type: 'error' }
                    );
                    this.resetMessageTimeout(10000);
                } else {
                    this.loading = true;
                    this.$recaptcha('replyOnMessage').then(token => {
                        this.form.recaptcha = token;
                        this.$http.post('/replyOnMessage', this.form).then((response) => {
                            this.loading  = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setMessageAction(
                                    { message: this.$t(response.data.message), isVisible: true, type: 'success' }
                                );
                                this.getMessagesListAction();
                                this.$router.push({ name: 'MessagesPage' });
                            } else {
                                this.errors.message = response.data.message;
                                this.errors.visible = true;
                                this.setMessageAction(
                                    { message: this.$t(this.errors.message), isVisible: true, type: 'error' }
                                );

                                if (response.data.errors) {
                                    if (response.data.errors.newReplyText) {
                                        this.errors.newReplyText = response.data.errors.newReplyText;
                                    }
                                }
                            }
                            this.resetMessageTimeout(10000);
                        }).catch(() => {
                            this.form.recaptcha = '';
                            this.setMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch(() => {
                        this.form.recaptcha = '';
                        this.setMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
        },

        created: function() {
            if (!this.$route.params.id
                || !Number.isInteger(parseInt(this.$route.params.id))
                || parseInt(this.$route.params.id) <= 0
            ) {
                this.setMessageAction(
                    { message: this.$t('error.recordNotFound'), isVisible: true, type: 'error' }
                );
                this.$router.push({ name: 'MessagesPage' });
            } else {
                this.loading = true;
                this.$http.get('/getMessage/' + this.$route.params.id).then(response => {
                    this.loading  = false;
                    if (response.data.success) {
                        this.form.id = response.data.data.message.id;
                        this.data.option = this.$t('enums.' + response.data.data.message.option);
                        this.data.name = response.data.data.message.name;
                        this.data.email = response.data.data.message.email;
                        this.data.phoneNumber = response.data.data.message.phoneNumber;
                        this.data.phoneCountry = response.data.data.message.phoneCountry;
                        this.data.description = response.data.data.message.description;
                        this.data.createdAt = response.data.data.message.createdAt;

                        response.data.data.message.replies.forEach(reply => {
                            this.data.replies.push( { description: reply.description, createdAt: reply.createdAt } );
                        });
                    } else {
                        this.setMessageAction(
                            { message: this.$t('error.recordNotFound'), isVisible: true, type: 'error' }
                        );
                        this.$router.push({ name: 'MessagesPage' });
                    }
                }).catch(() => {
                    this.setMessage(this.$t('error.pleaseTryAgainLater'));
                    this.$router.push({ name: 'MessagesPage' });
                });
            }
        },
    }
</script>

<style scoped>

</style>
