<template>
    <v-card
        :loading="loading"
        class="ma-2"
        :outlined="!item.isActive"
        :raised="!item.isActive"
        elevation="6"
    >
        <Alert v-if="errors.visible" :error="errors.message" />

        <div v-if="isForListing">
            <v-card-text v-if="authenticated" class="text-right">
                <div v-if="!item.isActive" class="grey--text text-left">
                    {{ $t('inactive') }}
                </div>

                <v-btn
                    color="warning"
                    class="mx-2"
                    fab
                    small
                    dark
                    :to="'/editItem/' + item.id"
                    :loading="loading" :disabled="loading"
                >
                    <v-icon>mdi-pencil</v-icon>
                </v-btn>
            </v-card-text>

            <v-carousel
                v-if="item.images.length > 0"
                cycle
                height="auto"
                hide-delimiter-background
                show-arrows-on-hover
                hide-delimiters
            >
                <v-carousel-item
                    v-for="(image, i) in item.images"
                    :key="i"
                >
                    <v-img
                        :src="getCorrectUrl() + image.path + image.name"
                        contain
                        max-height="400"
                    ></v-img>
                </v-carousel-item>
            </v-carousel>

            <v-card-title style="word-break: break-word;">{{ item.title }}</v-card-title>
            <v-card-text>
                <v-chip v-if="item.priceInMinorUnit" color="primary" class="subtitle-2">
                    {{ item.priceInMinorUnit | toCurrency }}
                </v-chip>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions class="justify-center">
                <v-btn
                    icon
                    @click="show = !show"
                >
                    <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                </v-btn>
            </v-card-actions>

            <v-expand-transition>
                <div v-show="show">
                    <v-card-text class="text--primary">
                        <div v-if="item.state">
                            <span class="text--secondary">{{ $t('state') }}: </span>
                            {{ $t('enums.' + item.state) }}
                        </div>
                        <div v-if="item.brand">
                            <span class="text--secondary">{{ $t('brand') }}: </span>
                            {{ $t('enums.' + item.brand) }}
                        </div>
                        <div v-if="item.category">
                            <span class="text--secondary">{{ $t('category') }}: </span>
                            {{ $t('enums.' + item.category) }}
                        </div>
                        <div v-if="item.category === 'SKATES'">
                            <div v-if="item.skateLength">
                                <span class="text--secondary">{{ $t('skateLength') }}: </span>
                                {{ item.skateLength + ' - EUR ' + sizesEnum.SKATES.LENGTH[item.skateLength].EUR }}
                            </div>
                            <div v-if="item.skateWidth">
                                <span class="text--secondary">{{ $t('skateWidth') }}: </span>
                                {{ item.skateWidth }}
                            </div>
                        </div>
                        <div v-else-if="item.category === 'STICKS'">
                            <div v-if="item.stickSize">
                                <span class="text--secondary">{{ $t('stickSize') }}: </span>
                                {{ item.stickSize }}
                            </div>
                            <div v-if="item.bladeCurve">
                                <span class="text--secondary">{{ $t('blade') }}: </span>
                                {{ item.bladeCurve }}
                            </div>
                            <div v-if="item.bladeSide">
                                <span class="text--secondary">{{ $t('grip') }}: </span>
                                {{ $t('enums.' + item.bladeSide) }}
                            </div>
                            <div v-if="item.stickFlex">
                                <span class="text--secondary">{{ $t('flex') }}: </span>
                                {{ item.stickFlex }}
                            </div>
                        </div>
                        <div v-else-if="item.category === 'PANTS'
                            || item.category === 'SHOULDER_PADS'
                            || item.category === 'ELBOW_PADS'"
                        >
                            <div v-if="item.size">
                                <span class="text--secondary">{{ $t('size') }}: </span>
                                {{ $t('enums.' + item.size) }}
                            </div>
                        </div>
                        <div v-else>
                            <div v-if="item.size">
                                <span class="text--secondary">{{ $t('size') }}: </span>
                                {{ item.size }}
                            </div>
                        </div>
                        <div v-if="item.description">
                            <span class="text--secondary">{{ $t('description') }}: </span>
                            {{ item.description }}
                        </div>
                    </v-card-text>
                </div>
            </v-expand-transition>
        </div>

        <div v-else>
            <v-card-text v-if="authenticated" class="text-right">
                <div v-if="!item.isActive" class="grey--text text-left">
                    {{ $t('inactive') }}
                </div>

                <v-btn
                    color="warning"
                    class="mx-2"
                    fab
                    small
                    dark
                    :to="'/editOffer/' + item.id"
                    :loading="loading" :disabled="loading"
                >
                    <v-icon>mdi-pencil</v-icon>
                </v-btn>
            </v-card-text>

            <v-carousel
                v-if="item.images.length > 0"
                cycle
                height="auto"
                hide-delimiter-background
                show-arrows-on-hover
                hide-delimiters
            >
                <v-carousel-item
                    v-for="(image, i) in item.images"
                    :key="i"
                >
                    <v-img
                        :src="getCorrectUrl() + image.path + image.name"
                        contain
                        max-height="400"
                    ></v-img>
                </v-carousel-item>
            </v-carousel>

            <v-card-title style="word-break: break-word;">
                {{ item.title }}
            </v-card-title>

            <v-divider class="mx-4"></v-divider>

            <v-card-text>
                {{ item.description }}
            </v-card-text>
        </div>
    </v-card>
</template>

<script>
    import { mapGetters } from 'vuex';
    import Alert from './popups/AlertPopup';
    import messageMixin from '../mixins/messageMixin';
    import urlMixin from '../mixins/urlMixin';

    export default {
        mixins: [ messageMixin, urlMixin ],

        props: [ 'item', 'isForListing' ],

        components: {
            Alert,
        },

        data: () => ({
            loading: false,
            show: false,
            errors: {
                message: null,
                visible: false,
            },
        }),

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                sizesEnum: 'enums/sizes',
            }),
        },
    }
</script>

<style scoped>

</style>
