<template>
    <v-card>
        <v-carousel
            v-if="posts.length > 0"
            cycle
            interval="10000"
            show-arrows-on-hover
            v-model="currentIndex"
        >
            <v-carousel-item
                v-for="(post, i) in posts"
                :key="i"
            >
                <video v-if="post.media_type === 'VIDEO'"
                    height="450"
                    :src="post.media_url"
                    class="center"
                    ref="video"
                    autoplay
                    muted
                    loop
                ></video>

                <v-img
                    v-else
                    :src="post.media_url"
                    contain
                    max-height="450"
                ></v-img>
            </v-carousel-item>
        </v-carousel>

        <v-card-title class="card-title">
            {{ getCurrentTitle }}
        </v-card-title>

        <v-card-actions>
            <v-btn
                v-show="show"
                color="orange lighten-2"
                text
                :href="getCurrentUrl"
                target="_blank"
            >
                {{ $t('seeOnInstagram') }}
            </v-btn>

            <v-spacer></v-spacer>

            <v-btn
                icon
                @click="show = !show"
            >
                <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
        </v-card-actions>

    </v-card>
</template>

<script>
    import { mapGetters } from 'vuex';
    export default {

        data: () => ({
            currentIndex: 0,
            show: false,
        }),

        computed: {
            ...mapGetters({
                posts: 'instagram/posts',
            }),
            getCurrentTitle() {
                const length = 64;
                let title = this.posts[this.currentIndex].caption;

                if (title.length > length && !this.show) {
                    return title.substring(0, length) + '...';
                }

                return title;
            },
            getCurrentUrl() {
                return this.posts[this.currentIndex].permalink;
            },
        },
    }
</script>

<style scoped>
    .center {
        margin-left: auto;
        margin-right: auto;
        display: block
    }

    .card-title {
        word-break: normal;
        font-size: 1rem;
    }
</style>
