<template>
    <v-dialog
        v-model="accept"
        persistent
    >
        <v-card>
            <v-card-title class="text-h5">
                {{ $t(title) }}
            </v-card-title>
            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                    color="blue darken-4"
                    text
                    v-on:click="sendData(false, title)"
                >
                    {{ $t('disagree') }}
                </v-btn>

                <v-btn
                    color="red darken-4"
                    text
                    v-on:click.prevent="sendData(true, title)"
                >
                    {{ $t('agree') }}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        props: [ 'title' ],

        data: () => ({
            accept: true,
        }),

        methods: {
            sendData(isAccepted, eventName) {
                this.$emit("data", { isAccepted: isAccepted, eventName: eventName });
            },
        },
    }
</script>