<template>
    <iframe
        width="100%"
        height="350px"
        style="border:0"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyByujrEpyGjhNipDpLFKnBTxMJWaWWiK2o&q=Stickfix,Riga&zoom=13">
    </iframe>
</template>

<script>
    export default {
        data: () => ({
            center: {
                lat: 56.96249283337657,
                lng: 24.137934280871974,
            },
            zoom: 13,
        }),
    };
</script>