<template>
    <v-card class="mx-auto" elevation="6">
        <v-list v-if="services" two-line>
            <template
                v-for="(service, index) in services"
            >
                <v-list-item
                    :key="service.title"
                    v-bind:class="{ 'grey darken-3': !service.isActive }"
                >
                    <v-list-item-content>
                        <v-list-item-title v-html="service.title" class="wrap-text"></v-list-item-title>
                        <v-list-item-subtitle
                            v-if="service.note"
                            v-html="service.note"
                            class="wrap-text"
                        ></v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action class="ml-2">
                        <v-list-item-action-text
                            v-if="service.priceInMinorUnit"
                            class="blue--text text--lighten-1"
                        >
                           {{ $t('startingAt') }} {{ service.priceInMinorUnit | toRoundedCurrency }}
                        </v-list-item-action-text>
                        <v-list-item-action-text v-if="!service.isActive">
                            {{ $t('inactive') }}
                        </v-list-item-action-text>
                    </v-list-item-action>

                    <v-list-item-action v-if="authenticated" class="ml-2">
                        <v-btn
                            color="warning"
                            class="ma-1"
                            fab
                            small
                            dark
                            :to="'/editService/' + service.id"
                            :loading="loading"
                            :disabled="loading"
                        >
                            <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                    </v-list-item-action>
                </v-list-item>
                <v-divider :key="index"></v-divider>
            </template>
        </v-list>

        <v-list v-if="users">
            <template
                v-for="(user, index) in users"
            >
                <v-list-item
                    :key="user.username + user.id"
                    v-bind:class="{ 'green darken-4': user.confirmed, 'red darken-4': !user.confirmed }"
                >
                    <v-list-item-content>
                        <v-list-item-title v-html="user.username" class="wrap-text"></v-list-item-title>
                    </v-list-item-content>

                    <v-list-item-action>
                        <v-list-item-action-text>{{ user.confirmed ? $t('active') : $t('inactive') }}</v-list-item-action-text>
                    </v-list-item-action>
                    <v-list-item-action v-if="authenticated">
                        <v-btn v-if="getIsActionVisible(editUserBtn)"
                            color="warning"
                            class="ma-1"
                            fab
                            small
                            dark
                            :to="'/editUser/' + user.id"
                            :loading="loading"
                            :disabled="loading"
                        >
                            <v-icon>{{ editUserBtn.icon }}</v-icon>
                        </v-btn>
                    </v-list-item-action>
                </v-list-item>
                <v-divider :key="index"></v-divider>
            </template>
        </v-list>

        <v-list v-if="messages">
            <template
                v-for="(message, index) in messages"
            >
                <v-list-item
                    :key="message.id"
                    v-bind:class="{ 'font-weight-bold blue--text': !message.isRead }"
                    :to="'/viewMessage/' + message.id"
                    :disabled="!getIsActionAllowed('replyOnMessages')"
                >
                    <v-list-item-content>
                        <v-list-item-title v-html="message.name"></v-list-item-title>
                        <v-list-item-subtitle class="text-truncate">
                            {{ message.description.substring(0, 20) + ".." }}
                        </v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action>
                        <v-list-item-action-text>
                            <time-ago locale="en" :datetime="message.createdAt"></time-ago>
                        </v-list-item-action-text>
                    </v-list-item-action>
                </v-list-item>
                <v-divider :key="message.id + '_' + index"></v-divider>
            </template>
        </v-list>
    </v-card>
</template>

<script>
    import { mapGetters } from 'vuex';
    import { TimeAgo } from 'vue2-timeago';
    import messageMixin from '../mixins/messageMixin';
    import userRoleMixin from '../mixins/userRoleMixin';

    export default {
        mixins: [ messageMixin, userRoleMixin ],

        props: [ 'services', 'users', 'messages' ],

        components: {
            TimeAgo,
        },

        data: () => ({
            loading: false,
            errors: {
                message: null,
                visible: false,
            },
            editUserBtn: { title: '', path: '', icon: 'mdi-pencil', role: 'editUser' },
        }),

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                roles: 'auth/roles',
            }),
        },
    }
</script>

<style scoped>
    .wrap-text {
        white-space: normal;
    }
</style>
