<template>
    <div>
        <v-app-bar app
            dark
            dense
        >
            <v-app-bar-nav-icon @click.stop="sidebarMenu = !sidebarMenu"></v-app-bar-nav-icon>
            <v-app-bar-title>{{ $t('appTitle') }}</v-app-bar-title>

            <v-spacer></v-spacer>

            <v-menu
                left
                bottom
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        text
                        v-bind="attrs"
                        v-on="on"
                        small
                    >
                        <country-flag :country='getCountryCode(getDefaultLocale)' style="margin-top:-0.6em" />
                    </v-btn>
                </template>

                <v-list>
                    <v-list-item
                        v-for="(item, i) in languages"
                        :key="i"
                        :disabled='getDefaultLocale === item'
                        v-on:click.prevent="setLocale(item)"
                    >
                        <country-flag :country='getCountryCode(item)' style="margin-top:-0.6em" />
                    </v-list-item>
                </v-list>
            </v-menu>

            <div v-if="!authenticated">
                <v-btn
                    text
                    v-for="item in unAuthItems"
                    :key="item.title"
                    :to="item.path"
                    small
                >
                    <v-icon>{{ item.icon }}</v-icon>
                    <div class="hidden-sm-and-down">{{ $t(item.title) }}</div>
                </v-btn>
            </div>

            <div v-else>
                <v-menu
                    left
                    bottom
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                            text
                            v-bind="attrs"
                            v-on="on"
                        >
                            {{ user.username }}
                            <v-icon>mdi-chevron-down</v-icon>
                        </v-btn>
                    </template>

                    <v-list>
                        <v-list-item
                            v-for="item in getVisibleActions(authItems.paths)"
                            :key="item.title"
                            :to="item.path"
                        >
                            <v-list-item-icon>
                                <v-icon color="primary">{{ item.icon }}</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>{{ $t(item.title) }}</v-list-item-title>
                        </v-list-item>

                        <v-divider></v-divider>

                        <v-list-item
                            v-for="item in authItems.methods"
                            :key="item.title"
                            @click.prevent="userOptions(item.method)"
                        >
                            <v-list-item-icon>
                                <v-icon color="primary">{{ item.icon }}</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>{{ $t(item.title) }}</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </div>
        </v-app-bar>

        <v-navigation-drawer
            v-if="!isAuthLoading"
            v-model="sidebarMenu"
            app
            floating
            :permanent="sidebarMenu"
            :mini-variant="toggleMini"
        >
            <v-list dense color="primary" dark>
                <v-list-item>
                    <v-list-item-action>
                        <v-icon @click="toggleMiniMethod()">{{ toggleMiniIcon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content class="center-image">
                        <v-list-item-title>
                            {{ $t('navigation.navigationPanel') }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <v-list-item v-if="authenticated" class="px-2" :to="{ name: 'AccountPage' }">
                <v-list-item-avatar>
                    <v-icon>mdi-account-outline</v-icon>
                </v-list-item-avatar>
                <v-list-item-content class="text-truncate">
                    {{ user.username }}
                </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list>
                <v-list-item
                    v-for="item in sideNavItems"
                    :key="item.title"
                    link
                    :to="item.href"
                >
                    <v-list-item-icon>
                        <v-icon color="primary">{{ item.icon }}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title class="primary--text">
                            {{ $t(item.title) }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>

            <v-divider></v-divider>

            <v-list v-if="authenticated">
                <v-list-item
                    v-for="item in getVisibleActions(sideNavAuthItems)"
                    :key="item.title"
                    link
                    :to="item.href"
                >
                    <v-list-item-icon>
                        <v-icon color="primary">{{ item.icon }}</v-icon>
                        <v-badge v-if="item.title === 'navigation.messages' && unreadMessageCount"
                            color="green"
                            :content="unreadMessageCount"
                        >
                        </v-badge>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title class="primary--text">{{ $t(item.title) }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import CountryFlag from 'vue-country-flag';
    import userRoleMixin from '../mixins/userRoleMixin';

    export default {
        mixins: [ userRoleMixin ],

        name: 'NavComp',

        components: {
            CountryFlag
        },

        data: () => ({
            sidebarMenu: true,
            toggleMini: true,
            toggleMiniIcon: 'mdi-chevron-right',

            unAuthItems: [
                { title: '', path: '/login', icon: 'mdi-login-variant' }
            ],

            authItems: {
                paths: [
                    { title: 'navigation.panel', path: '/acp', icon: 'mdi-shield-account', role: 'enterAdminCp' },
                    { title: 'account', path: '/account', icon: 'mdi-settings' },
                ],
                methods: [
                    { title: 'navigation.logout', method: 'signOut', icon: 'mdi-logout' },
                ]
            },

            errors: {
                message: null,
                visible: false,
            },

            sideNavItems: [
                { title: 'navigation.home', href: '/', icon: 'mdi-home-outline' },
                { title: 'navigation.adverts', href: '/adverts', icon: 'mdi-view-module' },
            ],

            sideNavAuthItems: [
                { title: 'navigation.panel', href: '/acp', icon: 'mdi-shield-account', role: 'enterAdminCp' },
                { title: 'navigation.messages', href: '/messages', icon: 'mdi-email-outline', role: 'readMessages' },
            ],

            languages: [ 'lv', 'ru', 'en', ],
            languageSwitchAvailable: true,
        }),

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                user: 'auth/user',
                roles: 'auth/roles',
                isAuthLoading: 'auth/isLoading',
                unreadMessageCount: 'messages/unreadMessageCount',
            }),
            getDefaultLocale() {
                if (this.$cookies.isKey('isCookieLawAccepted')
                    && this.$cookies.get('isCookieLawAccepted') === 'true'
                    && this.$cookies.isKey('language')
                ) {
                    this.prepareLocale(this.$cookies.get('language'));
                } else if (this.authenticated && this.languageSwitchAvailable) {
                    this.prepareLocale(this.user.language);
                }
                return this.$i18n.locale;
            },
        },

        methods: {
            ...mapActions({
                signOutAction: 'auth/logout',
            }),
            async signOut() {
                await this.$http.get('/logout').then((response) => {
                    if (response.data.success) {
                        this.removeAuthToken();
                        this.signOutAction();
                        this.$router.replace({ name: 'HomePage' }).catch(() => {});
                    }
                }).catch(() => {
                    this.errors.message = this.$t('error.pleaseTryAgainLater');
                    this.errors.visible = true;
                });
            },
            userOptions(name) {
                this[name]();
            },
            toggleMiniMethod() {
                this.toggleMini = !this.toggleMini;
                if (this.toggleMini) {
                    this.toggleMiniIcon = 'mdi-chevron-right';
                } else {
                    this.toggleMiniIcon = 'mdi-chevron-left';
                }
                return this.toggleMini;
            },
            getVisibleActions(list) {
                if (this.roles) {
                    return list.filter(item => this.isSuperAdmin || !item.role || this.userHasRole(item.role));
                } else {
                    return [];
                }
            },
            getCountryCode(code) {
                if (code === 'en') {
                    return 'gb';
                }
                return code;
            },
            setLocale(code) {
                if (this.$cookies.isKey('isCookieLawAccepted')) {
                    this.$cookies.set('language', code, Infinity);
                }
                this.languageSwitchAvailable = false;
                this.$i18n.locale = code;
            },
            prepareLocale(code) {
                this.$i18n.locale = code;
            },
            removeAuthToken() {
                this.$cookies.remove('token');
                this.$cookies.remove('tokenType');
            },
        },
    }
</script>

<style scoped>

</style>
