<template>
    <v-stepper v-model="step" elevation="6">
        <Alert v-if="errors.visible" :error="errors.message" />

        <v-stepper-header>
            <v-stepper-step :complete="step > 1" step="1">
                {{ $t('stepper.stepOneTitle') }}
            </v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step :complete="step > 2" step="2">
                {{ $t('stepper.stepTwoTitle') }}
            </v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
            <v-stepper-content step="1">
                <v-form @submit.prevent="validateOption">
                    <h2>{{ $t('stepper.stepOneTitle') }}</h2>
                    <p>{{ $t('stepper.stepOneDesc') }}</p>

                    <v-radio-group
                        column
                        v-model="form.radioOption"
                        name="radioOption"
                        :error-messages="radioOptionErrors"
                        @input="$v.form.radioOption.$touch()"
                        @blur="$v.form.radioOption.$touch()"
                    >
                        <v-radio
                            v-for="(item, i) in messageOptions"
                            :key="i"
                            :label="$t('enums.' + item)"
                            :value="item"
                        ></v-radio>
                    </v-radio-group>
                    <v-btn
                        color="primary"
                        type="submit"
                        :loading="loading"
                        :disabled="loading"
                        small
                    >
                        {{ $t(continueBtn.title) }}
                        <v-icon right>
                            {{ continueBtn.icon }}
                        </v-icon>
                    </v-btn>
                </v-form>
            </v-stepper-content>

            <v-stepper-content step="2">
                <v-form @submit.prevent="submit">
                    <h2>{{ $t('stepper.stepTwoTitle') }}</h2>
                    <p>{{ choiceDescription }}</p>

                    <v-text-field
                        name="name"
                        v-model="form.name"
                        id="name"
                        :label="$t('name')"
                        type="text"
                        :error-messages="nameErrors"
                        required
                        @input="$v.form.name.$touch()"
                        @blur="$v.form.name.$touch()"
                    ></v-text-field>
                    <v-text-field
                        name="email"
                        v-model="form.email"
                        id="email"
                        :label="$t('email')"
                        type="email"
                        :error-messages="emailErrors"
                        required
                        @input="$v.form.email.$touch()"
                        @blur="$v.form.email.$touch()"
                    ></v-text-field>
                    <vue-tel-input-vuetify
                        name="phone"
                        id="phone"
                        :label="$t('phoneNumber')"
                        defaultCountry="LV"
                        :error-messages="phoneErrors"
                        @input="setPhoneData"
                        @blur="$v.form.phone.$touch()"
                    ></vue-tel-input-vuetify>
                    <v-textarea
                        name="description"
                        v-model="form.description"
                        id="description"
                        :label="$t('description')"
                        type="text"
                        :error-messages="descriptionErrors"
                        required
                        @input="$v.form.description.$touch()"
                        @blur="$v.form.description.$touch()"
                    ></v-textarea>

                    <v-flex class="d-flex justify-space-between">
                        <v-btn
                            color="primary"
                            :loading="loading"
                            :disabled="loading"
                            v-on:click="step = 1"
                            small
                        >
                            <v-icon left>
                                {{ backBtn.icon }}
                            </v-icon>
                            <div class="hidden-sm-and-down">{{ $t(backBtn.title) }}</div>
                        </v-btn>
                        <v-btn
                            color="primary"
                            type="submit"
                            :loading="loading"
                            :disabled="loading"
                            small
                        >
                            <div class="hidden-sm-and-down">{{ $t(sendBtn.title) }}</div>
                            <v-icon right>
                                {{ sendBtn.icon }}
                            </v-icon>
                        </v-btn>
                    </v-flex>
                </v-form>
            </v-stepper-content>
        </v-stepper-items>
    </v-stepper>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import { validationMixin } from 'vuelidate';
    import { required, maxLength, minLength, email } from 'vuelidate/lib/validators';
    import Alert from '../components/popups/AlertPopup';
    import messageMixin from '../mixins/messageMixin';
    import arrayMixin from '../mixins/arrayMixin';

    export default {
        mixins: [ validationMixin, messageMixin, arrayMixin ],

        validations: {
            form: {
                name: { required, minLength: minLength(3), maxLength: maxLength(256) },
                email: { required, email, maxLength: maxLength(256) },
                phone: {
                    number: { required },
                    country: { required },
                    isValid: { isValidNumber(value) { return value; } },
                },
                description: { required, minLength: minLength(24), maxLength: maxLength(4096) },
                radioOption: { required },
            },
        },

        components: {
            Alert,
        },

        data: () => ({
            choiceDescription: '',
            step: 1,
            continueBtn: { title: 'continue', path: '', icon: 'mdi-chevron-right' },
            backBtn: { title: 'back', path: '', icon: 'mdi-chevron-left' },
            sendBtn: { title: 'send', path: '', icon: 'mdi-send' },
            form: {
                name: '',
                email: '',
                phone: {
                    number: null,
                    country: null,
                    isValid: null,
                },
                description: '',
                radioOption: '',
                language: '',
                recaptcha: '',
            },
            errors: {
                name: null,
                email: null,
                phone: null,
                description: null,
                radioOption: null,
                visible: false,
            },
            loading: false,
        }),

        computed: {
            nameErrors () {
                const errors = [];
                if (this.errors.name) {
                    errors.push(this.$t(this.errors.name[0]));
                    this.clearArray(this.errors.name);
                }
                if (!this.$v.form.name.$dirty) return errors;
                !this.$v.form.name.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.name.maxLength && errors.push(
                    this.$t('validation.mustBeCharsOrFewer', { num: '256' })
                );
                !this.$v.form.name.minLength && errors.push(
                    this.$t('validation.mustBeAtLeastCharsLong', { num: '3' })
                );
                return errors;
            },
            emailErrors () {
                const errors = [];
                if (this.errors.email) {
                    errors.push(this.$t(this.errors.email[0]));
                    this.clearArray(this.errors.email);
                }
                if (!this.$v.form.email.$dirty) return errors;
                !this.$v.form.email.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.email.email && errors.push(this.$t('validation.invalidEmail'));
                !this.$v.form.email.maxLength && errors.push(
                    this.$t('validation.mustBeCharsOrFewer', { num: '256' })
                );
                return errors;
            },
            phoneErrors () {
                const errors = [];
                if (this.errors.phone) {
                    errors.push(this.$t(this.errors.phone[0]));
                    this.clearArray(this.errors.phone);
                }
                if (!this.$v.form.phone.$dirty) return errors;
                !this.$v.form.phone.number.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.phone.country.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.phone.isValid.isValidNumber && errors.push(this.$t('validation.invalidNumber'));
                return errors;
            },
            descriptionErrors () {
                const errors = [];
                if (this.errors.description) {
                    errors.push(this.$t(this.errors.description[0]));
                    this.clearArray(this.errors.description);
                }
                if (!this.$v.form.description.$dirty) return errors;
                !this.$v.form.description.required && errors.push(this.$t('validation.requiredField'));
                !this.$v.form.description.minLength && errors.push(
                    this.$t('validation.mustBeAtLeastCharsLong', { num: '24' })
                );
                !this.$v.form.description.maxLength && errors.push(
                    this.$t('validation.mustBeCharsOrFewer', { num: '4096' })
                );
                return errors;
            },
            radioOptionErrors () {
                const errors = [];
                if (this.errors.radioOption) {
                    errors.push(this.$t(this.errors.radioOption[0]));
                    this.clearArray(this.errors.radioOption);
                }
                if (!this.$v.form.radioOption.$dirty) return errors;
                !this.$v.form.radioOption.required && errors.push(this.$t('validation.requiredField'));
                return errors;
            },
            ...mapGetters({
                messageOptions: 'enums/messageOptions',
            }),
        },

        methods: {
            ...mapActions({
                setMessageAction: 'message/setMessage',
            }),
            validateOption() {
                this.$v.form.radioOption.$touch();
                if (this.$v.form.radioOption.$invalid) {
                    this.setMessageAction(
                        { message: this.$t('error.errorInData'), isVisible: true, type: 'error' }
                    );
                } else {
                    this.choiceDescription = this.$t('choice') + ': ' + this.$t('enums.' + this.form.radioOption);
                this.step = 2;
                }
            },
            submit() {
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.setMessageAction(
                        { message: this.$t('error.errorInData'), isVisible: true, type: 'error' }
                    );
                } else {
                    this.loading = true;
                    this.$recaptcha('sendMessage').then(token => {
                        this.form.recaptcha = token;
                        this.form.language = this.$i18n.locale;
                        this.$http.post('/sendMessage', this.form).then(response => {
                            this.loading  = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setMessageAction(
                                    { message: this.$t(response.data.message), isVisible: true, type: 'success' }
                                );
                                this.step = 1;
                                this.form.name = '';
                                this.form.email = '';
                                this.form.phone.number = '';
                                this.form.phone.country = '';
                                this.form.phone.isValid = true;
                                this.form.description = '';
                            } else {
                                this.errors.message = response.data.message;
                                this.errors.visible = true;
                                this.setMessageAction(
                                    { message: this.$t(response.data.message), isVisible: true, type: 'error' }
                                );

                                if (response.data.errors) {
                                    if (response.data.errors.name) {
                                        this.errors.name = response.data.errors.name;
                                    }
                                    if (response.data.errors.email) {
                                        this.errors.email = response.data.errors.email;
                                    }
                                    if (response.data.errors['phone.number']) {
                                        this.errors.phone = response.data.errors['phone.number'];
                                    }
                                    if (response.data.errors['phone.country']) {
                                        this.errors.phone = response.data.errors['phone.country'];
                                    }
                                    if (response.data.errors.description) {
                                        this.errors.description = response.data.errors.description;
                                    }
                                    if (response.data.errors.radioOption) {
                                        this.errors.radioOption = response.data.errors.radioOption;
                                    }
                                }
                            }
                            this.resetMessageTimeout(10000);
                        }).catch(() => {
                            this.form.recaptcha = '';
                            this.setMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch(() => {
                        this.form.recaptcha = '';
                        this.setMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
            setPhoneData(number, phone) {
                this.form.phone.number = phone.number.e164;
                this.form.phone.country = phone.regionCode;
                this.form.phone.isValid = phone.isValid;
                this.$v.form.phone.$touch();
            },
        },
    }
</script>

<style scoped>

</style>
