<template>
    <v-breadcrumbs :items="items">
        <template v-slot:item="{ item }">
            <v-breadcrumbs-item
                :to="item.href"
                :disabled="item.disabled"
            >
                {{ $t(item.text) }}
            </v-breadcrumbs-item>
        </template>
    </v-breadcrumbs>
</template>

<script>
    export default {
        props: ['items'],
    }
</script>

<style scoped>

</style>
