<template>
    <v-app app>
        <GlobalPopup
            v-if="isVisible && message.length > 0"
            :message="message"
            :isNotification="isNotification"
        />

        <div
            v-if="!$route.allowFullScreen"
            class="overflow-y-auto"
        >
            <NavComp />
            <v-sheet app class="overflow-y-auto">
                <v-main>
                    <router-view></router-view>
                    <FooterComp />
                </v-main>
            </v-sheet>
        </div>

        <div v-else>
            <router-view></router-view>
        </div>

        <v-overlay :value="isAuthLoading">
            <v-progress-circular
                indeterminate
                size="64"
            ></v-progress-circular>
        </v-overlay>

        <cookie-law
            theme="base"
            :buttonText="$t('policy.acceptButton')"
            storageType="cookies"
            storageName="isCookieLawAccepted"
       >
            <div slot="message">
                {{ $t('policy.messageStart') }}
                <router-link to="/policy">{{ $t('policy.messagePolicy') }}</router-link>
                {{ $t('policy.messageEnd') }}
            </div>
        </cookie-law>
    </v-app>
</template>

<script>
    import { mapGetters } from 'vuex';
    import NavComp from './components/NavComp';
    import FooterComp from './components/FooterComp';
    import GlobalPopup from './components/popups/GlobalPopup';
    import CookieLaw from 'vue-cookie-law';

    export default {
        name: 'App',

        components: {
            NavComp,
            FooterComp,
            GlobalPopup,
            CookieLaw,
        },

        data: () => ({

        }),

        computed: {
            ...mapGetters({
                message: 'message/getMessage',
                isVisible: 'message/getIsVisible',
                isNotification: 'message/getIsNotification',
                isAuthLoading: 'auth/isLoading',
            }),
        },
    }
</script>

<style>
    html, body, #app {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .Cookie--base {
        background: #272727;
        color: #fff;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    }

    .Cookie__button {
        background-color: #2196f3 !important;
        border-color: #2196f3 !important;
        color: #fff !important;
        border-radius: 4px !important;
    }
</style>
